<template>
  <p>{{ $t('global.wait-please') }}</p>
</template>

<script>
export default {
  name: "AuthActionPage",

  computed: {
    mode() {
      return this.$route.query.mode;
    },

    code() {
      return this.$route.query.oobCode;
    },
  },

  mounted() {
    switch (this.mode) {
      case 'resetPassword':
        this.$router.push({
          name: 'auth-reset-password',
          params: {
            code: this.code,
          },
        });

        break;

      case 'recoverEmail':
        
        break;

      case 'verifyEmail':
        
        break;
    
      default:
        break;
    }
    


  }
}
</script>
