<template>
  <form @submit.prevent="submitForm" method="post" class="recover-password">
    <h1>{{ $t('page.auth-recover-password.title') }}</h1>

    <app-input
      name="email"
      icon="fas fa-envelope"
      type="email"
      inputmode="email"
      :label="$t('form.email.label')"
      :class="{ filled: email }"
      :placeholder="$t('form.email.placeholder')"
      :is-disabled="isFormProcessing"
      :is-autofocused="true"
      :is-required="true"
      :is-loading="isFormProcessing"
      v-model:value="email"
    />

    <div class="alert alert-danger" v-if="formErrorMessages.length">
      <p v-for="(item, key) in formErrorMessages" :key="key">{{ item }}</p>
    </div>

    <app-button-group
      :is-primary-disabled="isFormProcessing || formErrorMessages.length > 0"
      :is-primary-loading="isFormProcessing"
      :primary-text="$t('form.button.recover-password')"
      :secondary-text="$t('form.button.sign-in')"
      @click:secondary="redirectToSignInPage"
    />
  </form>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';
import useVuelidate from '@vuelidate/core';
import { required, email, minLength, maxLength } from '@vuelidate/validators';

import AppInput from '@/views/blocks/input.vue';
import AppButtonGroup from '@/views/blocks/button-group.vue';

const EMAIL_MIN_LENGTH = 6;
const EMAIL_MAX_LENGTH = 128;

export default {
  name: 'RecoverPasswordPage',

  components: {
    AppInput,
    AppButtonGroup,
  },

  setup () {
    return { v$: useVuelidate() }
  },

  data() {
    return {
      email: '',
    };
  },

  validations: {
    email: {
      required,
      email,
      minLength: minLength(EMAIL_MIN_LENGTH),
      maxLength: maxLength(EMAIL_MAX_LENGTH),
    },
  },

  computed: {
    ...mapState('auth/recover-password', {
      formErrors: state => state.errors,
      isFormProcessing: state => state.isProcessing,
    }),

    formErrorMessages() {
      const errors = [];

      if (!this.v$.email.$dirty) return errors;

      if (this.v$.email.required.$invalid) errors.push(this.$t('errors.email-is-required'));
      if (this.v$.email.email.$invalid) errors.push(this.$t('errors.email-must-be-valid'));
      if (this.v$.email.minLength.$invalid) {
        errors.push(this.$t('errors.email-must-be-min-length', {
          length: this.v$.email.minLength.$params.min,
        }));
      }
      if (this.v$.email.maxLength.$invalid) {
        errors.push(this.$t('errors.email-must-be-max-length', {
          length: this.v$.email.maxLength.$params.max,
        }));
      }

      if (this.formErrors.indexOf('user-not-found') > -1) errors.push(this.$t('errors.user-not-found'));
      if (this.formErrors.indexOf('user-disabled') > -1) errors.push(this.$t('errors.user-disabled'));
      if (this.formErrors.indexOf('invalid-email') > -1) errors.push(this.$t('errors.invalid-email'));
      if (this.formErrors.indexOf('operation-not-allowed') > -1) errors.push(this.$t('errors.operation-not-allowed'));
      if (this.formErrors.indexOf('network-request-failed') > -1) errors.push(this.$t('errors.network-request-failed'));
      if (this.formErrors.indexOf('missing-continue-uri') > -1) errors.push(this.$t('errors.unknown-error'));
      if (this.formErrors.indexOf('invalid-continue-uri') > -1) errors.push(this.$t('errors.unknown-error'));
      if (this.formErrors.indexOf('unauthorized-continue-uri') > -1) errors.push(this.$t('errors.unknown-error'));
      if (this.formErrors.indexOf('unknown-error') > -1) errors.push(this.$t('errors.unknown-error'));

      return errors;
    },
  },

  methods: {
    ...mapActions('auth/recover-password', {
      sendPasswordResetEmail: 'SEND_PASSWORD_RESET_EMAIL',
    }),

    ...mapMutations('auth/recover-password', {
      clearError: 'CLEAR_ERROR',
    }),

    submitForm() {
      this.v$.$touch();

      if (!this.v$.$invalid) {
        this.sendPasswordResetEmail(this.email)
          .then((response) => {
            if (response) {
              this.email = '';
              this.$router.push({
                name: 'home',
              });
            }
          });
      }
    },

    handleInput(key) {
      this.clearError(key);
      this.v$[key].$reset();
    },

    redirectToSignInPage() {
      this.$router.push({
        name: 'auth-sign-in'
      });
    },
  },
};
</script>

<style lang="scss">
.recover-password {
  max-width: 500px;
  margin: 0 auto;
}
</style>
