<template>
  <form @submit.prevent="submitForm" method="post" class="reset-password">
    <h1>{{ $t('page.auth-reset-password.title') }}</h1>

    <app-input
      name="new-password"
      autocomplete="new-password"
      icon="fas fa-lock"
      type="password"
      :label="$t('form.new-password.label')"
      :placeholder="$t('form.new-password.placeholder')"
      :is-disabled="isFormProcessing || codeErrorMessages.length > 0"
      :is-required="true"
      v-model:value="password"
    />

    <app-input
      name="confirm_newpassword"
      autocomplete="new-password"
      icon="fas fa-lock"
      type="password"
      :label="$t('form.new-password-confirm.label')"
      :placeholder="$t('form.new-password-confirm.placeholder')"
      :is-disabled="isFormProcessing || codeErrorMessages.length > 0"
      :is-required="true"
      v-model:value="passwordConfirm"
    />

    <div class="alert alert-danger" v-if="formErrorMessages.length">
      <p v-for="(item, key) in formErrorMessages" :key="key">{{ item }}</p>
    </div>

    <div class="alert alert-danger" v-if="codeErrorMessages.length">
      <i18n-t
        v-for="(item, key) in codeErrorMessages"
        :keypath="item"
        :key="key"
        tag="p"
      >
        <router-link :to="{ name: 'auth-recover-password'}">
          {{ $t('errors.request-code-again') }}
        </router-link>
      </i18n-t>
    </div>

    <app-button-group
      :is-primary-disabled="isFormProcessing || formErrorMessages.length > 0 || codeErrorMessages.length > 0"
      :is-primary-loading="isFormProcessing"
      :primary-text="$t('form.button.send')"

      :secondary-text="$t('form.button.cancel')"
      @click:secondary="redirectToHomePage"
    />
  </form>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';
import useVuelidate from '@vuelidate/core';
import { required, minLength, maxLength } from '@vuelidate/validators';

import AppInput from '@/views/blocks/input.vue';
import AppButtonGroup from '@/views/blocks/button-group.vue';

const PASSWORD_MIN_LENGTH = 6;
const PASSWORD_MAX_LENGTH = 32;

export default {
  name: 'ResetPasswordPage',

  setup () {
    return { v$: useVuelidate() }
  },

  components: {
    AppInput,
    AppButtonGroup,
  },

  data() {
    return {
      password: '',
      passwordConfirm: '',
    };
  },

  validations: {
    password: {
      required,
      minLength: minLength(PASSWORD_MIN_LENGTH),
      maxLength: maxLength(PASSWORD_MAX_LENGTH),
    },
    // passwordConfirm: {
    //   required,
    //   sameAsPassword: sameAs('password'),
    // },
  },

  computed: {
    ...mapState('auth/reset-password', {
      formErrors: state => state.errors,
      isFormProcessing: state => state.isProcessing,
    }),

    code() {
      return this.$route.params.code;
    },

    passwordErrorMessages() {
      const errors = [];

      if (!this.v$.password.$dirty) return errors;
      if (this.v$.password.required.$invalid) errors.push(this.$t('errors.password-is-required'));
      if (this.v$.password.minLength.$invalid) {
        errors.push(this.$t('errors.password-must-be-min-length', {
          length: this.v$.password.minLength.$params.min,
        }));
      }
      if (this.v$.password.maxLength.$invalid) {
        errors.push(this.$t('errors.password-must-be-max-length', {
          length: this.v$.password.maxLength.$params.max,
        }));
      }

      return errors;
    },

    passwordConfirmErrorMessages() {
      const errors = [];

      // if (!this.v$.passwordConfirm.$dirty) return errors;
      // if (!this.v$.passwordConfirm.sameAsPassword) errors.push(this.$t('errors.passwords-must-be-equal'));
      if (this.password !== this.passwordConfirm) errors.push(this.$t('errors.passwords-must-be-equal'));

      return errors;
    },

    formErrorMessages() {
      const errors = [
        ...this.passwordErrorMessages,
        ...this.passwordConfirmErrorMessages,
      ];

      if (this.formErrors.indexOf('network-request-failed') > -1) errors.push(this.$t('errors.network-request-failed'));
      if (this.formErrors.indexOf('argument-error') > -1) errors.push(this.$t('errors.argument-error'));
      if (this.formErrors.indexOf('user-disabled') > -1) errors.push(this.$t('errors.user-disabled'));
      if (this.formErrors.indexOf('user-not-found') > -1) errors.push(this.$t('errors.user-not-found'));
      if (this.formErrors.indexOf('weak-password') > -1) errors.push(this.$t('errors.weak-password'));
      if (this.formErrors.indexOf('unknown-error') > -1) errors.push(this.$t('errors.unknown-error'));

      return errors;
    },

    codeErrorMessages() {
      const errors = [];

      if (this.formErrors.indexOf('expired-action-code') > -1) errors.push('errors.expired-action-code');
      if (this.formErrors.indexOf('invalid-action-code') > -1) errors.push('errors.invalid-action-code');

      return errors;
    }
  },

  methods: {
    ...mapActions('auth/reset-password', {
      verifyPasswordResetCode: 'VERIFY_PASSWORD_RESET_CODE',
      confirmPasswordReset: 'CONFIRM_PASSWORD_RESET',
    }),

    ...mapMutations('auth/reset-password', {
      clearResetPasswordFormErrors: 'CLEAR_ALL_ERRORS',
    }),

    submitForm() {
      this.v$.$touch();

      if (!this.v$.$invalid) {
        this.confirmPasswordReset({
          actionCode: this.code,
          password: this.password,
        })
          .then((response) => {
            if (response) {
              this.$router.push({
                name: 'home',
              });
            }
          });
      }
    },

    clearError(key) {
      this.clearResetPasswordFormErrors();
      this.v$[key].$reset();
    },

    redirectToHomePage() {
      this.$router.push({
        name: 'home',
      });
    },
  },

  created() {
    this.verifyPasswordResetCode(this.code);
  },
};
</script>
