<template>
  <form @submit.prevent="submitForm" method="post" class="sign-up">
    <div class="form-group">
      <h1>{{ $t('page.auth-sign-up.title') }}</h1>
    </div>

    <app-input
      name="email"
      icon="fas fa-envelope"
      type="email"
      inputmode="email"
      :label="$t('form.email.label')"
      :placeholder="$t('form.email.placeholder')"
      :is-disabled="isFormProcessing"
      :is-autofocused="true"
      :is-required="true"
      v-model:value="email"
    />

    <app-input
      name="new-password"
      autocomplete="new-password"
      icon="fas fa-lock"
      :type="isPasswordShowed ? 'text' : 'password'"
      :label="$t('form.new-password.label')"
      :placeholder="$t('form.new-password.placeholder')"
      :right-button-icon="`fas fa-${isPasswordShowed ? 'eye-slash' : 'eye'}`"
      :is-disabled="isFormProcessing"
      :is-required="true"
      :has-right-button="true"
      v-model:value="newpassword"
      @click:right-button="isPasswordShowed = !isPasswordShowed"
    />

    <app-input
      name="confirm_newpassword"
      autocomplete="new-password"
      icon="fas fa-lock"
      :type="isPasswordConfirmShowed ? 'text' : 'password'"
      :label="$t('form.new-password-confirm.label')"
      :placeholder="$t('form.new-password-confirm.placeholder')"
      :right-button-icon="`fas fa-${isPasswordConfirmShowed ? 'eye-slash' : 'eye'}`"
      :is-disabled="isFormProcessing"
      :is-required="true"
      :has-right-button="true"
      v-model:value="newpasswordConfirm"
      @click:right-button="isPasswordConfirmShowed = !isPasswordConfirmShowed"
    />

    <div class="form-group">
      <input id="agreement" type="checkbox" name="agreement" class="switch is-rounded" v-model="isAgree">

      <i18n-t keypath="form.agreement" tag="label" for="agreement">
        <a href="/agreement.pdf" target="_blank">{{ $t('form.document') }}</a>
      </i18n-t>
    </div>

    <div class="form-group">
      <div class="alert alert-danger" v-if="formErrorMessages.length">
        <p v-for="(item, key) in formErrorMessages" :key="key">{{ item }}</p>
      </div>
    </div>

    <app-button-group
      :is-primary-disabled="isFormProcessing || formErrorMessages.length > 0"
      :is-primary-loading="isFormProcessing"
      :primary-text="$t('form.button.sign-up')"

      :secondary-text="$t('form.button.sign-in')"
      @click:secondary="redirectToSignInPage"
    />
  </form>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import useVuelidate from '@vuelidate/core';
import { required, email, minLength, maxLength } from '@vuelidate/validators';

import AppInput from '@/views/blocks/input.vue';
import AppButtonGroup from '@/views/blocks/button-group.vue';

const EMAIL_MIN_LENGTH = 6;
const EMAIL_MAX_LENGTH = 128;
const PASSWORD_MIN_LENGTH = 6;
const PASSWORD_MAX_LENGTH = 32;

export default {
  name: 'SignUpPage',

  setup () {
    return { v$: useVuelidate() }
  },

  components: {
    AppInput,
    AppButtonGroup,
  },

  data() {
    return {
      email: '',
      newpassword: '',
      newpasswordConfirm: '',
      isAgree: false,
      isPasswordShowed: false,
      isPasswordConfirmShowed: false,
    };
  },

  validations: {
    email: {
      required,
      email,
      minLength: minLength(EMAIL_MIN_LENGTH),
      maxLength: maxLength(EMAIL_MAX_LENGTH),
    },

    newpassword: {
      required,
      minLength: minLength(PASSWORD_MIN_LENGTH),
      maxLength: maxLength(PASSWORD_MAX_LENGTH),
    },

    // newpasswordConfirm: {
    //   sameAsPassword: sameAs('newpassword'),
    // },

    isAgree: {
      checked: value => value === true,
    },
  },

  computed: {
    ...mapState('auth/sign-up', {
      formErrors: state => state.errors,
      isFormProcessing: state => state.isProcessing,
    }),

    emailErrorMessages() {
      const errors = [];

      if (!this.v$.email.$dirty) return errors;
      if (this.v$.email.required.$invalid) errors.push(this.$t('errors.email-is-required'));
      if (this.v$.email.email.$invalid) errors.push(this.$t('errors.email-must-be-valid'));
      if (this.v$.email.minLength.$invalid) {
        errors.push(this.$t('errors.email-must-be-min-length', {
          length: this.v$.email.minLength.$params.min,
        }));
      }
      if (this.v$.email.maxLength.$invalid) {
        errors.push(this.$t('errors.email-must-be-max-length', {
          length: this.v$.email.maxLength.$params.max,
        }));
      }

      return errors;
    },

    newpasswordErrorMessages() {
      const errors = [];

      if (!this.v$.newpassword.$dirty) return errors;
      if (this.v$.newpassword.required.$invalid) errors.push(this.$t('errors.password-is-required'));
      if (this.v$.newpassword.minLength.$invalid) {
        errors.push(this.$t('errors.password-must-be-min-length', {
          length: this.v$.newpassword.minLength.$params.min,
        }));
      }
      if (this.v$.newpassword.maxLength.$invalid) {
        errors.push(this.$t('errors.password-must-be-max-length', {
          length: this.v$.newpassword.maxLength.$params.max,
        }));
      }

      return errors;
    },

    newpasswordConfirmErrorMessages() {
      const errors = [];

      // if (!this.v$.newpasswordConfirm.$dirty) return errors;
      // if (this.v$.newpasswordConfirm.sameAsPassword.$invalid) errors.push(this.$t('errors.passwords-must-be-equal'));
      if (this.newpassword !== this.newpasswordConfirm) errors.push(this.$t('errors.passwords-must-be-equal'));

      return errors;
    },

    isAgreeErrorMessages() {
      const errors = [];

      if (!this.v$.isAgree.$dirty) return errors;
      if (this.v$.isAgree.checked.$invalid) errors.push(this.$t('errors.you-must-agree-for-use-service'));

      return errors;
    },

    formErrorMessages() {
      const errors = [
        ...this.emailErrorMessages,
        ...this.newpasswordErrorMessages,
        ...this.newpasswordConfirmErrorMessages,
        ...this.isAgreeErrorMessages,
      ];

      if (this.formErrors.indexOf('operation-not-allowed') > -1) errors.push(this.$t('errors.operation-not-allowed'));
      if (this.formErrors.indexOf('network-request-failed') > -1) errors.push(this.$t('errors.network-request-failed'));
      if (this.formErrors.indexOf('unknown-error') > -1) errors.push(this.$t('errors.unknown-error'));

      return errors;
    },
  },

  methods: {
    ...mapActions('auth/sign-up', {
      signUp: 'SIGN_UP',
    }),

    ...mapMutations('auth/sign-up', {
      clearError: 'CLEAR_ERROR',
    }),

    submitForm() {
      this.v$.$touch();

      // console.log('submitForm this.v$.$invalid:', this.v$.$invalid);

      if (!this.v$.$invalid) {
        // console.log('submitForm inside');

        this.signUp({
          email: this.email,
          password: this.newpassword,
        })
          .then((result) => {
            if (result.success) {
              this.clearFields();

              // console.log('submitForm inside inside');
            }
          });
      }
    },

    handleInput(key) {
      this.clearError(key);
      this.v$[key].$reset();
    },

    clearFields() {
      this.email = '';
      this.newpassword = '';
      this.newpasswordConfirm = '';
      this.isAgree = false;
    },

    redirectToSignInPage() {
      this.$router.push({
        name: 'auth-sign-in'
      });
    },
  },
};
</script>

<style lang="scss">
.sign-up {
  max-width: 500px;
  margin: 0 auto;
}
</style>
