<template>
  <form @submit.prevent="submitForm" method="post" class="sign-in">
    <div class="form-group">
      <h1>{{ $t('page.auth-sign-in.title') }}</h1>

      <div class="alert alert-success" v-if="isRecoverPasswordEmailSent">
        {{ $t('page.auth-sign-in.check-mail') }}
      </div>

      <div class="alert alert-success" v-if="isPasswordChangedSuccessfully">
        <h3>{{ $t('page.auth-sign-in.success-password-changed-title') }}</h3>
        <p>{{ $t('page.auth-sign-in.success-password-changed-text') }}</p>
      </div>

      <div class="alert alert-success" v-if="isPasswordResettedSuccessfully">
        <h3>{{ $t('page.auth-sign-in.success-reset-password-title') }}</h3>
        <p>{{ $t('page.auth-sign-in.success-reset-password-text') }}</p>
      </div>

      <div class="alert alert-success" v-if="isSignedUpSuccessfully">
        <h3>{{ $t('page.auth-sign-in.success-registered-title') }}</h3>
        <p>{{ $t('page.auth-sign-in.success-registered-text') }}</p>
      </div>

      <div class="alert alert-success" v-if="isEmailVerifiedSuccessfully">
        <h3>{{ $t('page.auth-sign-in.success-email-verified') }}</h3>
      </div>

      <div class="alert alert-success" v-if="isVerificationCodeSended">
        <h3>{{ $t('page.auth-sign-in.success-email-changed-title') }}</h3>
        <p>{{ $t('page.auth-sign-in.success-email-changed-text') }}</p>
      </div>

      <div class="alert alert-success" v-if="isEmailRecoveredSuccessfully">
        <h3>{{ $t('page.auth-sign-in.success-email-recovered-title') }}</h3>
        <p>{{ $t('page.auth-sign-in.success-email-recovered-text') }}</p>
      </div>
    </div>

    <app-input-group
      id="userEmail"
      name="email"
      icon="fas fa-envelope"
      inputmode="email"
      :label="$t('form.email.label')"
      :placeholder="$t('form.email.placeholder')"
      :is-disabled="isFormProcessing"
      :is-autofocused="true"
      :is-invalid="v$.email.$invalid"
      :invalid-texts="emailErrorMessages"
      v-model:value="email"
      @input:input="resetValidation('email')"
    />

    <app-input-group
      id="userPassword"
      name="password"
      autocomplete="password"
      icon="fas fa-lock"
      :type="passwordType"
      :label="$t('form.password.label')"
      :placeholder="$t('form.password.placeholder')"
      :is-disabled="isFormProcessing"
      :is-invalid="v$.password.$invalid"
      :has-right-button="true"
      :right-button-icon="passwordShowerIcon"
      :invalid-texts="passwordErrorMessages"
      v-model:value="password"
      @click:right-button="isPasswordShowed = !isPasswordShowed"
      @input:input="resetValidation('password')"
    />

    <div class="form-group">
      <div class="alert alert-danger" v-if="formErrorsMessages.length">
        <p v-for="(item, key) in formErrorsMessages" :key="key">{{ item }}</p>
      </div>
    </div>

    <app-button-group
      :is-primary-disabled="isFormProcessing || formErrorsMessages.length > 0 || v$.$invalid"
      :is-primary-loading="isFormProcessing"
      :primary-text="$t('form.button.sign-in')"

      :secondary-text="$t('form.button.sign-up')"
      @click:secondary="redirectToSignUpPage"

      :tertiary-text="$t('form.button.recover-password')"
      @click:tertiary="redirectToPasswordRecoverPage"
    />
  </form>
</template>

<script>
import useVuelidate from '@vuelidate/core';
import { required, email, minLength, maxLength } from '@vuelidate/validators';
import SignInMixin from '@/utils/mixins/sign-in.js';

const EMAIL_MIN_LENGTH = 6;
const EMAIL_MAX_LENGTH = 128;
const PASSWORD_MIN_LENGTH = 6;
const PASSWORD_MAX_LENGTH = 32;

export default {
  name: 'SignInPage',

  // TODO: Установку vuelidate надо перенести в миксин, когда его исправят
  setup () {
    return { v$: useVuelidate() }
  },

  // TODO: Валидации надо перенести в миксин, когда его исправят
  validations() {
    return {
      email: {
        required,
        email,
        minLength: minLength(EMAIL_MIN_LENGTH),
        maxLength: maxLength(EMAIL_MAX_LENGTH),
      },
      password: {
        required,
        minLength: minLength(PASSWORD_MIN_LENGTH),
        maxLength: maxLength(PASSWORD_MAX_LENGTH),
      },
    };
  },

  mixins: [SignInMixin],
};
</script>

<style lang="scss">
.sign-in {
  max-width: 600px;
  margin: 0 auto;
}
</style>
