<template>
  <app-loader v-if="isFetchingProcess" />

  <content-list :list="allMovies" content-type="movies" v-else />
</template>

<script>
import { mapState } from 'vuex';
import AppLoader from '@/views/blocks/loader.vue';
import ContentList from '@/views/blocks/content-list.vue';

export default {
  name: 'HomePageMovies',

  components: {
    AppLoader,
    ContentList,
  },

  computed: {
    ...mapState('content/movies', {
      allMovies: state => Object.values(state.all.items),
      isFetchingProcess: state => state.all.isFetchingProcess,
    }),
  },
};
</script>
