<template>
<div class="home-page__search-field field is-horizontal">
  <div class="field-label is-normal"></div>

  <div class="field-body">
    <div class="field">
      <div :class="['home-page__results dropdown', { 'is-active': searchText }]">
        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <router-link
              v-for="item in simpleSearchResults"
              :to="{ name: 'movies-item', params: { id: item.id }}"
              :key="item.id"
              class="media"
            >
              <figure class="media-left">
                <p class="image">
                  <img :src="item.poster">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{ item.title }}</strong> <small>{{ $_filters.duration(item.duration) }}</small>
                    <br>
                    {{ item.description }}
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <small class="level-item">
                      <span class="icon is-small"><i class="fas fa-film"></i></span>&nbsp;{{ $_filters.certificate(item.certificate) }}
                    </small>
                    <small class="level-item">
                      <span class="icon is-small"><i class="fas fa-globe"></i></span>&nbsp;{{ $_filters.country(item.countries) }}
                    </small>
                    <small class="level-item">
                      <span class="icon is-small"><i class="fas fa-calendar-alt"></i></span>&nbsp;{{ item.year }}
                    </small>
                    <small class="level-item">
                      <span class="icon is-small"><i class="fas fa-star"></i></span>&nbsp;{{ $_filters.rating(item) }}
                    </small>
                    <small class="level-item">
                      <span class="icon is-small"><i class="fab fa-youtube"></i></span>&nbsp;{{ $_filters.resolution(item.resolutions) }}
                    </small>
                  </div>
                </nav>
              </div>
            </router-link>

            <div class="media is-empty" v-if="simpleSearchResults.length === 0">
              <div class="media-content">
                <div class="content">
                  <p>{{ $t('global.noting-found') }}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

export default {
  name: 'HomePageResults',

  computed: {
    ...mapState('content', {
      searchText: state => state.filters.query,
    }),

    ...mapGetters('content', ['simpleSearchResults']),
  },
}
</script>

<style lang="scss">
.home-page__results {
  small {
    color: #9a9a9a;
  }

  &.dropdown {
    display: block;
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
  }

  .dropdown-content {
    padding: 0;
  }

  .dropdown-divider {
    margin: 0;
  }

  .media {
    color: inherit;
    min-height: 198px;
    align-items: normal;
    padding: 1.5rem;

    &:hover:not(.is-empty) {
      background-color: #e8f1ff;
    }

    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px 5px 0 0;
    }

    .content {
      flex-grow: 1;
    }

    .image {
      width: 128px;
    }

    &.is-empty {
      min-height: unset;
    }

    & + .media {
      margin-top: 0;
    }
  }

  .media-content {
    display: flex;
    flex-direction: column;
  }
}
</style>
