<template>
  <section class="home-page__search">
    <div class="home-page__search-body">
      <div class="home-page__search-container container">

        <div class="home-page__search-field field is-horizontal">
          <div class="field-label is-normal">
            <label class="home-page__search-label label">
              {{ $t('page.home.want-to-watch') }}
            </label>
          </div>
          <div class="field-body">
            <app-input
              name="search"
              icon="fas fa-search"
              type="text"
              autocomplete="off"
              :placeholder="$t('global.search-placeholder')"
              right-button-icon="fas fa-times"
              :has-right-button="true"
              :value="searchText"
              @update:value="updateSearchText"
              @click:right-button="clearSearchText"
              @focus:input="openResults"
              @blur:input="closeResults"
            />
          </div>
        </div>

        <app-results v-if="!isExtendedSearchActive && searchText && isSearchInputFocused" />

        <div class="home-page__search-field home-page__search-extended field is-horizontal">
          <a href="#" @click.prevent="openPopup(EXTENDED_SEARCH_POPUP_ID)">
            {{ $t('page.home.full-search') }}
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import { EXTENDED_SEARCH_POPUP_ID } from '@/config';

import AppInput from '@/views/blocks/input.vue';
import AppResults from './_results.vue';

export default {
  name: 'HomePageSearch',

  components: {
    AppInput,
    AppResults,
  },

  data() {
    return {
      isSearchInputFocused: false,
      EXTENDED_SEARCH_POPUP_ID: Object.freeze(EXTENDED_SEARCH_POPUP_ID),
    };
  },

  computed: {
    ...mapState('content', {
      searchText: state => state.filters.query,
    }),

    ...mapState('ui/popups', {
      isExtendedSearchActive(state) {
        return state.items[this.EXTENDED_SEARCH_POPUP_ID].isActive;
      },
    }),
  },

  methods: {
    ...mapMutations('content', {
      updateSearchText: 'UPDATE_SEARCH_TEXT',
    }),

    ...mapMutations('ui/popups', {
      openPopup: 'OPEN_POPUP',
    }),

    clearSearchText() {
      this.updateSearchText('');
    },

    openResults() {
      this.isSearchInputFocused = true;
    },

    closeResults() {
      setTimeout(() => {
         this.isSearchInputFocused = false;
      }, 500);
    },
  },
}
</script>

<style lang="scss">
@import "bulma/sass/utilities/_all";
$half-height-desktop: calc(50vh - (100px + 200px)/2);
$half-height-tablet: calc(50vh - (100px + 168px)/2);
$half-height-mobile: calc(50vh - (104px + 168px)/2);

.home-page__search {
  background-image: linear-gradient(to top, rgba(0, 0, 0, .9), rgba(0, 0, 0, .1)), url(../../../assets/img/home-bg.jpg);
  background-size: cover;

  &-body {
    transition: padding .3s;
    padding: $half-height-desktop 1.5rem $half-height-desktop;

    @include tablet {
      padding: $half-height-tablet 1.5rem $half-height-tablet;
    }

    @include desktop {
      padding: $half-height-mobile 1.5rem $half-height-mobile;
    }
  }

  &-container {
    padding: 4rem 1.5rem calc(4rem - 37px);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .8);
  }

  &-field {
    margin-bottom: 0 !important;

    &:nth-child(2) {
      .field-label {
        padding: 0;
      }
    }

    &:last-child {
      margin-top: 0.75rem;
    }
  }

  &-label {
    color: #fff !important;
    white-space: nowrap;
  }

  &-extended {
    display: flex;
    justify-content: flex-end;

    a {
      border-bottom: 1px dashed;

      &:hover {
        color: #fff;
      }
    }
  }
}
</style>
