<template>
  <main id="col-main">
    <!-- <app-search /> -->
    <app-movies />
  </main>
</template>

<script>
import { mapActions } from 'vuex';
// import AppSearch from './_search.vue';
import AppMovies from './_movies.vue';

export default {
  name: 'HomePage',

  components: {
    // AppSearch,
    AppMovies,
  },

  methods: {
    ...mapActions('content/movies', {
      fetchAllMovies: 'FETCH_ALL',
    }),

    ...mapActions('content/series', {
      fetchAllSeries: 'FETCH_ALL',
    }),

    ...mapActions('content/documentaries', {
      fetchAllDocumentaries: 'FETCH_ALL',
    }),

    ...mapActions('content/cartoons', {
      fetchAllCartoons: 'FETCH_ALL',
    }),

    ...mapActions('content/collections', {
      fetchAllCollections: 'FETCH_ALL',
    }),

    // ...mapActions('content/persons', {
    //   fetchAllPersons: 'FETCH_ALL',
    // }),
  },

  created() {
    this.fetchAllMovies();
    this.fetchAllSeries();
    this.fetchAllDocumentaries();
    this.fetchAllCartoons();
    this.fetchAllCollections();
    // this.fetchAllPersons();
  },
}
</script>
