<template>
  <main id="col-main">
    <app-loader v-if="isFetchingProcess && !fetchingError" />

    <div v-else-if="!isFetchingProcess && !fetchingError">
      <meta-top :content="currentMovie" />

      <div class="watch-content">
        <section class="section">
          <div class="container">
            <div class="content">
              <div class="watch-content__player">
                <video-player
                  :url="currentMovie.url"
                  :poster="currentMovie.poster"
                />

                <meta-middle :content="currentMovie" />
              </div>
            </div>
          </div>
        </section>
      </div>

      <meta-bottom :content="currentMovie" />
    </div>

    <div v-else>
      <h1>ERROR OCURRED</h1>
    </div>
  </main>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import AppLoader from '@/views/blocks/loader.vue';
import MetaTop from '@/views/blocks/meta/top.vue';
import MetaMiddle from '@/views/blocks/meta/middle.vue';
import MetaBottom from '@/views/blocks/meta/bottom.vue';
import VideoPlayer from '@/views/blocks/video-player.vue';

export default {
  name: 'MoviesItemPage',

  components: {
    AppLoader,
    MetaTop,
    MetaMiddle,
    MetaBottom,
    VideoPlayer,
  },

  data() {
    return {
      currentMovieID: this.$route.params.id,
    };
  },

  computed: {
    ...mapState('content/movies', {
      currentMovie: state => state.current.item,
      isFetchingProcess: state => state.current.isFetchingProcess,
      fetchingError: state => state.current.fetchingError,
    }),
  },

  methods: {
    ...mapActions('content/movies', {
      fetchSingleMovie: 'FETCH_SINGLE',
    }),
  },

  created() {
    document.title = this.$t('page.movies-item.meta-title', { title: this.$t('global.loading') });

    this
      .fetchSingleMovie(this.currentMovieID)
      .then(() => {
        document.title = this.$t('page.movies-item.meta-title', { title: this.currentMovie.title });
      });
  },
}
</script>
