<template>
  <extended-search-dialog-tab
    :field-name="fieldName"
    :items="items"
  />
</template>

<script>
import ExtendedSearchDialogTab from './_tab.vue';

export default {
  name: 'ExtendedSearchDialogTabTranslation',

  components: {
    ExtendedSearchDialogTab
  },

  data() {
    return {
      fieldName: 'translations',
      items: [
        'full',
        'multiple',
        'single',
      ],
    };
  },
}
</script>
