<template>
  <div class="-extended-search-dialog__tab-ratings">
    <div class="field">
      <span>{{ $_projectName }}:</span>
      <app-range
        :is-activated="isOwnRatingActivated"
        :min-value="ratingOwnMin"
        :max-value="ratingOwnMax"
        @change:min="(value) => handleChange('min', 'own', value)"
        @change:max="(value) => handleChange('max', 'own', value)"
      />
    </div>

    <div class="field">
      <span>IMDB:</span>
      <app-range
        :is-activated="isImdbRatingActivated"
        :min-value="ratingIMDbMin"
        :max-value="ratingIMDbMax"
        @change:min="(value) => handleChange('min', 'imdb', value)"
        @change:max="(value) => handleChange('max', 'imdb', value)"
      />
    </div>

    <div class="field">
      <span>Rotten Tomatoes:</span>
      <app-range
        :is-activated="isRottenTomatoesRatingActivated"
        :min-value="ratingRottenTomatoesMin"
        :max-value="ratingRottenTomatoesMax"
        @change:min="(value) => handleChange('min', 'rottentomatoes', value)"
        @change:max="(value) => handleChange('max', 'rottentomatoes', value)"
      />
    </div>

    <div class="field">
      <span>Metacritic:</span>
      <app-range
        :is-activated="isMetacriticRatingActivated"
        :min-value="ratingMetacriticMin"
        :max-value="ratingMetacriticMax"
        @change:min="(value) => handleChange('min', 'metacritic', value)"
        @change:max="(value) => handleChange('max', 'metacritic', value)"
      />
    </div>

    <div class="field">
      <span>КиноПоиск:</span>
      <app-range
        :is-activated="isKinoPoiskRatingActivated"
        :min-value="ratingKinoPoiskMin"
        :max-value="ratingKinoPoiskMax"
        @change:min="(value) => handleChange('min', 'kinopoisk', value)"
        @change:max="(value) => handleChange('max', 'kinopoisk', value)"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import AppRange from "@/views/blocks/range.vue";

export default {
  name: "ExtendedSearchDialogTabRating",

  components: {
    AppRange,
  },

  computed: {
    ...mapState("route", {
      queryParams: (state) => state.query,
    }),

    ratingOwnMin() {
      return (
        (this.queryParams && Number(this.queryParams["rating-own-min"])) || 0
      );
    },

    ratingOwnMax() {
      return (
        (this.queryParams && Number(this.queryParams["rating-own-max"])) || 100
      );
    },

    ratingIMDbMin() {
      return (
        (this.queryParams && Number(this.queryParams["rating-imdb-min"])) || 0
      );
    },

    ratingIMDbMax() {
      return (
        (this.queryParams && Number(this.queryParams["rating-imdb-max"])) || 100
      );
    },

    ratingRottenTomatoesMin() {
      return (
        (this.queryParams &&
          Number(this.queryParams["rating-rottentomatoes-min"])) ||
        0
      );
    },

    ratingRottenTomatoesMax() {
      return (
        (this.queryParams &&
          Number(this.queryParams["rating-rottentomatoes-max"])) ||
        100
      );
    },

    ratingMetacriticMin() {
      return (
        (this.queryParams &&
          Number(this.queryParams["rating-metacritic-min"])) ||
        0
      );
    },

    ratingMetacriticMax() {
      return (
        (this.queryParams &&
          Number(this.queryParams["rating-metacritic-max"])) ||
        100
      );
    },

    ratingKinoPoiskMin() {
      return (
        (this.queryParams &&
          Number(this.queryParams["rating-kinopoisk-min"])) ||
        0
      );
    },

    ratingKinoPoiskMax() {
      return (
        (this.queryParams &&
          Number(this.queryParams["rating-kinopoisk-max"])) ||
        100
      );
    },

    isOwnRatingActivated() {
      return this.ratingOwnMin !== 0 || this.ratingOwnMax !== 100;
    },

    isImdbRatingActivated() {
      return this.ratingIMDbMin !== 0 || this.ratingIMDbMax !== 100;
    },

    isRottenTomatoesRatingActivated() {
      return (
        this.ratingRottenTomatoesMin !== 0 ||
        this.ratingRottenTomatoesMax !== 100
      );
    },

    isMetacriticRatingActivated() {
      return this.ratingMetacriticMin !== 0 || this.ratingMetacriticMax !== 100;
    },

    isKinoPoiskRatingActivated() {
      return this.ratingKinoPoiskMin !== 0 || this.ratingKinoPoiskMax !== 100;
    },
  },

  methods: {
    handleChange(minMax, key, value) {
      let query = Object.assign({}, this.queryParams);

      if (
        (minMax === "min" && value === 0) ||
        (minMax === "max" && value === 100)
      ) {
        delete query[`rating-${key}-${minMax}`];
      } else {
        query = {
          ...query,
          [`rating-${key}-${minMax}`]: value,
        };
      }

      this.$router.replace({ query });
    },
  },
};
</script>

<style lang="scss">
.-extended-search-dialog__tab-ratings {
  max-width: 415px;
  margin: 0 auto;

  .field {
    display: flex;
    justify-content: flex-end;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin-bottom: 12px;
  }
}
</style>
