<template>
  <extended-search-dialog-tab
    :field-name="fieldName"
    :items="items"
  />
</template>

<script>
import ExtendedSearchDialogTab from './_tab.vue';

export default {
  name: 'ExtendedSearchDialogTabCountry',

  components: {
    ExtendedSearchDialogTab
  },

  data() {
    return {
      fieldName: 'countries',
      items: [
        'australia',
        'argentina',
        'armenia',
        'belgium',
        'brazil',
        'great-britain',
        'hungary',
        'germany',
        'hong-kong',
        'denmark',
        'india',
        'ireland',
        'spain',
        'italy',
        'kazakhstan',
        'canada',
        'china',
        'colombia',
        'mexico',
        'netherlands',
        'new-zealand',
        'norway',
        'poland',
        'russia',
        'ussr',
        'usa',
        'turkey',
        'uzbekistan',
        'ukraine',
        'finland',
        'france',
        'czech',
        'sweden',
        'south-africa',
        'south-korea',
        'japan',
      ],
    };
  },
}
</script>
