<template>
  <extended-search-dialog-tab
    :field-name="fieldName"
    :items="items"
  />
</template>

<script>
import ExtendedSearchDialogTab from './_tab.vue';

export default {
  name: 'ExtendedSearchDialogTabYear',

  components: {
    ExtendedSearchDialogTab
  },

  data() {
    return {
      fieldName: 'years',
      items: [
        '2021',
        '2020',
        '2019',
        '2018',
        '2017',
        '2016',
        '2015',
        '2021-2015',
        '2014-2000',
        '1999-1980',
        '1979-1960',
        '1959-1930',
        '1929-1900',
      ],
    };
  },
}
</script>
