<template>
  <extended-search-dialog-tab
    :field-name='fieldName'
    :items='genres'
  />
</template>

<script>
import { GENRES } from '@/config';
import ExtendedSearchDialogTab from './_tab.vue';

export default {
  name: 'ExtendedSearchDialogTabGenre',

  components: {
    ExtendedSearchDialogTab
  },

  data() {
    return {
      fieldName: 'genres',
      genres: Object.freeze(GENRES),
    };
  },
}
</script>
