<template>
  <div class="-extended-search-dialog__tab">
    <div :class="`-extended-search-dialog__field-${fieldName}`" v-for="item in items" :key="item">
      <label class="checkbox-pro-container">
        {{ $t(`global.${fieldName}.${item}`) }}
        <input
          type="checkbox"
          :value="item"
          :checked="checkedItems.includes(item)"
          @change="handleChange"
        >
        <span class="checkmark-pro"></span>
      </label>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'ExtendedSearchDialogTab',

  props: {
    fieldName: {
      type: String,
      required: true,
    },

    items: {
      type: Array,
      required: true,
    },
  },

  computed: {
    ...mapState('route', {
      queryParams: state => state.query,
    }),

    checkedItems() {
      const queryParamValue = this.queryParams ? this.queryParams[this.fieldName] : null;

      if (queryParamValue) {
        return [...new Set(queryParamValue.split('|'))];
      }

      return [];
    },
  },

  methods: {
    handleChange(event) {
      let currentFieldQuery = [...this.checkedItems];
      let query = Object.assign({}, this.queryParams);

      if (event.target.checked) {
        currentFieldQuery.push(event.target.value);
        currentFieldQuery = currentFieldQuery.join('|');

        query = {
          ...query,
          [this.fieldName]: currentFieldQuery,
        }
      } else {
        const index = currentFieldQuery.indexOf(event.target.value);

        if (index > -1) {
          currentFieldQuery.splice(index, 1);
        }

        if (currentFieldQuery.length === 0) {
          delete query[this.fieldName];
        } else {
          currentFieldQuery = currentFieldQuery.join('|');

          query = {
            ...query,
            [this.fieldName]: currentFieldQuery,
          }
        }
      }

      this.$router.replace({ query });
    },
  },
}
</script>

<style lang="scss">
@import "bulma/sass/utilities/_all";

@mixin tab-sizes() {
  @include mobile {
    flex: 0 0 calc(100% / 3);
  }

  @include tablet {
    flex: 0 0 calc(100% / 4);
  }

  @include desktop {
    flex: 0 0 calc(100% / 5);
  }
  @include widescreen {
    flex: 0 0 calc(100% / 6);
  }

  @include fullhd {
    flex: 0 0 calc(100% / 7);
  }

  @include until(575px) {
    flex: 0 0 calc(100% / 2);
  }

  @include until(426px) {
    flex: 0 0 calc(100% / 1);
  }
}

.-extended-search-dialog {
  &__tab {
    display: flex;
    flex-flow: wrap;
  }

  &__field {
    &-certificates {
      @include tab-sizes;
    }

    &-countries {
      @include tab-sizes;
    }

    &-years {
      @include tab-sizes;
    }

    &-genres {
      @include tab-sizes;
    }

    &-resolutions {
      flex: 0 0 100%;
    }

    &-translations {
      flex: 0 0 100%;
    }
  }
}
</style>