<template>
  <extended-search-dialog-tab
    :field-name="fieldName"
    :items="items"
  />
</template>

<script>
import ExtendedSearchDialogTab from './_tab.vue';

export default {
  name: 'ExtendedSearchDialogTabResolutions',

  components: {
    ExtendedSearchDialogTab
  },

  data() {
    return {
      fieldName: 'resolutions',
      items: [
        '4k',
        'full-hd',
        'hd',
      ],
    };
  },
}
</script>
