<template>
  <extended-search-dialog-tab
    :field-name="fieldName"
    :items="items"
  />
</template>

<script>
import ExtendedSearchDialogTab from './_tab.vue';

export default {
  name: 'ExtendedSearchDialogTabCertificate',

  components: {
    ExtendedSearchDialogTab
  },

  data() {
    return {
      fieldName: 'certificates',
      items: [
        'all',
        '18+',
        '16+',
        '13+',
        '6+',
        '3+',
      ],
    };
  },
}
</script>
