<template>
  <button class="button is-light" @click.prevent="openPopup(EXTENDED_SEARCH_POPUP_ID)">
    <i class="fas fa-search"></i>
  </button>
</template>

<script>
import { mapMutations } from 'vuex';
import { EXTENDED_SEARCH_POPUP_ID } from '@/config';

export default {
  data() {
    return {
      EXTENDED_SEARCH_POPUP_ID: Object.freeze(EXTENDED_SEARCH_POPUP_ID),
    };
  },

  methods: {
    ...mapMutations('ui/popups', {
      openPopup: 'OPEN_POPUP',
    }),
  }
}
</script>