<template>
  <div class="-extended-search-dialog modal is-active">
    <div class="modal-background"></div>
      <div class="modal-content">
        <section class="section">
          <div class="container">
            <app-input
              name="search"
              icon="fas fa-search"
              type="text"
              autocomplete="off"
              :placeholder="$t('global.search-placeholder')"
              right-button-icon="fas fa-times"
              :has-right-button="true"
              :value="searchText"
              @update:value="updateSearchText"
              @click:right-button="clearSearchText"
            />

            <app-tabs uuid="search" :selected-tab-id="0" :badges="activeFiltersCount">
              <app-tab :title="$t('block.extended-search-dialog.countries')" :tab-id="0">
                <tab-countries />
              </app-tab>

              <app-tab :title="$t('block.extended-search-dialog.years')" :tab-id="1">
                <tab-year />
              </app-tab>

              <app-tab :title="$t('block.extended-search-dialog.genres')" :tab-id="2">
                <tab-genres />
              </app-tab>

              <app-tab :title="$t('block.extended-search-dialog.translations')" :tab-id="3">
                <tab-translations />
              </app-tab>

              <app-tab :title="$t('block.extended-search-dialog.resolutions')" :tab-id="4">
                <tab-resolutions />
              </app-tab>

              <app-tab :title="$t('block.extended-search-dialog.certificates')" :tab-id="5">
                <tab-certificates />
              </app-tab>

              <app-tab :title="$t('block.extended-search-dialog.ratings')" :tab-id="6">
                <tab-ratings />
              </app-tab>
            </app-tabs>

            <p class="-extended-search-dialog__found-movies-count">{{ $t('block.extended-search-dialog.found-movies-count') }} - {{ advancedSearchResultsCount }}</p>

            <div class="buttons is-right">
              <button class="button" @click="resetFilters">
                <span class="icon">
                  <i class="fas fa-times"></i>
                </span>
                <span>{{ $t('block.extended-search-dialog.reset-filters') }}</span>
              </button>
              <button class="button is-primary" @click="showResults">
                <span class="icon">
                  <i class="fas fa-filter"></i>
                </span>
                <span>{{ $t('block.extended-search-dialog.show-results') }}</span>
              </button>
            </div>
          </div>
        </section>
      </div>
    <button class="modal-close is-large" aria-label="close" @click="closePopup(EXTENDED_SEARCH_POPUP_ID)"></button>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
import { EXTENDED_SEARCH_POPUP_ID } from '@/config';

import AppInput from '@/views/blocks/input.vue';
import AppTabs from '@/views/blocks/tabs.vue';
import AppTab from '@/views/blocks/tab.vue';
import TabCountries from './_tab-countries.vue';
import TabYear from './_tab-year.vue';
import TabGenres from './_tab-genres.vue';
import TabTranslations from './_tab-translations.vue';
import TabResolutions from './_tab-resolutions.vue';
import TabCertificates from './_tab-certificates.vue';
import TabRatings from './_tab-ratings.vue';

export default {
  name: 'ExtendedSearchDialog',

  components: {
    AppInput,
    AppTabs,
    AppTab,
    TabCountries,
    TabYear,
    TabGenres,
    TabTranslations,
    TabResolutions,
    TabCertificates,
    TabRatings,
  },

  data() {
    return {
      EXTENDED_SEARCH_POPUP_ID: Object.freeze(EXTENDED_SEARCH_POPUP_ID),
    };
  },

  computed: {
    ...mapState('content', {
      filters: state => state.filters,
    }),

    ...mapGetters('content', [
      'advancedSearchResultsCount',
      'activeFiltersCount'
    ]),

    searchText() {
      return this.filters.query;
    },

    badges() {
      return [
        this.filters.countries.length,
        this.filters.years.length,
        this.filters.genres.length,
        this.filters.translations.length,
        this.filters.resolutions.length,
        this.filters.certificates.length,
        this.ratingBadgeValue,
      ]
    },

    ratingBadgeValue() {
      let result = 0;
      const { own, imdb, kp } = this.filters.ratings;

      result = own.min !== 0 || own.max !== 100 ? result + 1 : result;
      result = imdb.min !== 0 || imdb.max !== 100 ? result + 1 : result;
      result = kp.min !== 0 || kp.max !== 100 ? result + 1 : result;

      return result;
    }
  },

  methods: {
    ...mapMutations('content', {
      updateSearchText: 'UPDATE_SEARCH_TEXT',
      resetFilters: 'RESET_FILTERS',
    }),

    ...mapMutations('ui/popups', {
      closePopup: 'CLOSE_POPUP',
    }),

    showResults() {
      this.$router.push({ name: 'results'});
      this.closePopup(this.EXTENDED_SEARCH_POPUP_ID);
    },

    clearSearchText() {
      this.updateSearchText('');
    },
  },
}
</script>

<style lang="scss">
.-extended-search-dialog {
  &.modal {
    justify-content: flex-start;
    padding-top: 3rem;
  }

  .modal-content {
    width: 100%;
  }

  .-tabs,
  .-tab {
    color: #dbdbdb;

    li:not(.is-active) {
      a {
        color: #dbdbdb;

        &:hover {
          border-bottom-color: #b3b3b3;
          color: #b3b3b3;
        }
      }
    }
  }

  .-tab {
    min-height: 341px;
  }

  .buttons.is-right {
    margin-top: 2rem;
  }

  &__found-movies-count {
    text-align: right;
    color: #fff;
    margin-top: 2rem;
  }
}
</style>