<template>
  <main id="col-main">
    <app-loader v-if="isFetchingProcess" />

    <!-- <img src="../../../assets/img/dark.png" /> -->

    <content-slider v-if="!isFetchingProcess" />

    <div class="clearfix" v-if="!isFetchingProcess"></div>

    <!-- <content-genres v-if="!isFetchingProcess" /> -->

    <content-container
      v-if="!isFetchingProcess"
      :list="moviesAdvancedSearchResults"
      content-type="movies"
    />
  </main>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import AppLoader from '@/views/blocks/loader.vue';
import ContentSlider from '@/views/blocks/content/slider.vue';
// import ContentGenres from '@/views/blocks/content/genres.vue';
import ContentContainer from '@/views/blocks/content/container.vue';

export default {
  name: 'MoviesPage',

  components: {
    AppLoader,
    ContentSlider,
    // ContentGenres,
    ContentContainer,
  },

  computed: {
    ...mapState('content/movies', {
      isFetchingProcess: state => state.all.isFetchingProcess,
    }),

    ...mapGetters('content', ['moviesAdvancedSearchResults']),
  },

  methods: {
    ...mapActions('content/movies', {
      fetchAllMovies: 'FETCH_ALL',
    }),
  },

  created() {
    this.fetchAllMovies();
  },
}
</script>

<style lang="scss">
.-page-movies {
  .dashboard-container {
    padding: 50px;

    @media only screen and (min-width: 959px) and (max-width: 1100px) {
      padding: 40px;
    }

    @media only screen and (min-width: 768px) and (max-width: 959px) { 
      padding: 20px;
    }

    @media only screen and (max-width: 767px) { 
      padding:20px;
    }
  }
}
</style>
