<template>
  <component
    :is="componentName"
    :[attr]="link"
    class="-content-card"
    @click="selectContent"
  >

    <div class="-content-card__container">
      <img
        :src="content.poster"
        class="-content-card__poster"
        alt=""
        @error="handleError"
        @load="test1"
      >

      <div class="-content-card__more" v-if="!hideMeta">
        <div class="-content-card__meta-top">
          <p class="-content-card__resolutions" v-if="resolution">
            {{ resolution }}
          </p>
          <p class="-content-card__certificate" v-if="content.certificate">
            {{ $_filters.certificate(content.certificate) }}
          </p>
        </div>

        <div class="-content-card__play">
          <i class="fas fa-play"></i>
        </div>

        <div class="-content-card__meta-bottom">
          <p class="-content-card__country" v-if="content.countries && content.countries.length">
            <i class="fas fa-globe"></i>
            {{ $_filters.country(content.countries) }}
          </p>

          <p class="-content-card__year" v-if="content.year">
            <i class="fas fa-calendar-alt"></i>
            {{ content.year }}
          </p>

          <p class="-content-card__rating">
            <i class="fas fa-star"></i> {{ $_filters.rating(content) }}
          </p>

          <p class="-content-card__duration" v-if="content.duration">
            <i class="fas fa-stopwatch"></i> {{ $_filters.duration(content.duration) }}
          </p>

          <p class="-content-card__translation" v-if="content.translations">
            <i class="fas fa-language"></i> {{ $_filters.translation(content.translations) }}
          </p>
        </div>

        <div class="-content-card__desc">
          {{ content.description }}
        </div>
      </div>
    </div>

    <h2 class="-content-card__title">
      <span v-if="content.title">{{ content.title }}</span>
      <span v-if="content.originalTitle">({{ content.originalTitle }})</span>
      <span v-if="content.firstName">{{ content.firstName }} {{ content.secondName }}</span>
    </h2>

  </component>
</template>

<script>
export default {
  name: 'ContentCard',

  props: {
    content: {
      type: Object,
      required: true,
    },
    contentType: {
      type: String,
      required: true,
    },
  },

  emits: [
    'select:episode',
  ],

  computed: {
    resolution() {
      return this.$_filters.resolution(this.content.resolutions);
    },

    hideMeta() {
      return this.contentType === 'collections' || this.contentType === 'persons';
    },

    componentName() {
      if (this.contentType === 'episodes') {
        return 'a';
      }

      return 'router-link'
    },

    attr() {
      if (this.contentType === 'episodes') {
        return 'href';
      }

      return 'to'
    },

    link() {
      if (this.contentType === 'episodes') {
        return '#';
      }

      return { name: `${this.contentType}-item`, params: { id: this.content.id }};
    },
  },

  methods: {
    handleError(event) {
      console.log('handleError event:', event);
      event.target.src = 'https://image.freepik.com/free-vector/404-error-page-found_41910-364.jpg';
    },

    test1() {
      // console.log('test1 e:', e);
    },

    test2() {
      // console.log('test2 e:', e);
    },

    selectContent(event) {
      if (this.contentType === 'episodes') {
        event.preventDefault();

        this.$emit('select:episode', this.content);

        console.log('prevented');
      }

      console.log('event:', event);
    }
  },
};
</script>

<style lang="scss">
.-content-card {
  &:hover {
    .-content-card__container {
      transform: scale(1.01, 1.01);
      box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
    }

    .-content-card__more {
      opacity: 1;
    }

    .-content-card__poster {
      transform: scale(1.1, 1.1);
    }
  }

  &__container {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
    position: relative;
    transition: all .3s;
    margin-bottom: .5rem;
  }

  &__poster {
    display: block;
    // max-height: 375px;
    // width: 100%;
    transition: all 1s;
  }

  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    opacity: 0;
    transition: all .5s;

    @media (hover: none) and (pointer: coarse) {
      opacity: 1;
      background-color: rgba(0,0,0,.5);
    }
  }

  &__resolutions {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2px 5px;
  }

  &__meta-top {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: right;
    font-size: .9rem;
  }

  &__meta-bottom {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    font-size: .9rem;
  }

  &__play {
    font-size: 3rem;
  }

  &__desc {
    display: none;
  }

  &__title {
    font-size: 1rem;
    font-weight: 400;
  }

  p {
    margin: 0;
  }
}
</style>