<template>
  <ul class="dashboard-genres-pro">
    <li class="active">
      <img src="../../../assets/img/genres/drama.png" alt="Drama">
      <h6>Drama</h6>
    </li>
    <li>
      <img src="../../../assets/img/genres/comedy.png" alt="Comedy">
      <h6>Comedy</h6>
    </li>
    <li>
      <img src="../../../assets/img/genres/action.png" alt="Action">
      <h6>Action</h6>
    </li>
    <li>
      <img src="../../../assets/img/genres/romance.png" alt="Romance">
      <h6>Romance</h6>
    </li>
    <li>
      <img src="../../../assets/img/genres/horror.png" alt="Horror">
      <h6>Horror</h6>
    </li>
    <li>
      <img src="../../../assets/img/genres/fantasy.png" alt="Fantasy">
      <h6>Fantasy</h6>
    </li>
    <li>
      <img src="../../../assets/img/genres/sci-fi.png" alt="Sci-Fi">
      <h6>Sci-Fi</h6>
    </li>
    <li>
      <img src="../../../assets/img/genres/thriller.png" alt="Thriller">
      <h6>Thriller</h6>
    </li>
    <li>
      <img src="../../../assets/img/genres/western.png" alt="Western">
      <h6>Western</h6>
    </li>
    <li>
      <img src="../../../assets/img/genres/adventure.png" alt="Adventure">
      <h6>Adventure</h6>
    </li>
    <li>
      <img src="../../../assets/img/genres/animation.png" alt="Animation">
      <h6>Animation</h6>
    </li>
    <li>
      <img src="../../../assets/img/genres/documentary.png" alt="Documentary">
      <h6>Documentary</h6>
    </li>
  </ul>
</template>