<template>
  <div class="row">
    <div class="col-12 -not-found">
      <p><span class="icon-Magnifi-Glass2"></span></p>
      <p>{{ $t('global.noting-found') }}</p>
    </div>
  </div>
</template>

<style lang="scss">
.-not-found {
  text-align: center;
  padding: 5rem 0;

  p:first-child {
    margin: 0;
    font-size: 3rem;
    line-height: 1rem;
  }
}
</style>