<template>
  <div class="-sorter">
    <button
      class="btn"
      v-click-outside="closeSorterMenu"
      @click="toggleSorterMenu "
    >
      {{ $t('global.sorted-by')}}
      {{ $t(`global.sort-by.${sortBy}`) }}
      <i v-if="sortDirection === 'asc'" class="fas fa-sort-alpha-up"></i>
      <i v-if="sortDirection === 'desc'" class="fas fa-sort-alpha-down"></i>
    </button>

    <div :class="['-sorter__menu', { '-sorter__menu_opened': isSorterMenuOpened }]">
      <ul>
        <li v-for="(item, key) in sortFields" :key="key">
          <a href="#" @click.prevent="sort(item)" :class="{ selected: item === sortBy }">
            {{ $t(`global.sort-by.${item}`) }}
            <i v-if="item === sortBy && sortDirection === 'asc'" class="fas fa-sort-alpha-up"></i>
            <i v-if="item === sortBy && sortDirection === 'desc'" class="fas fa-sort-alpha-down"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      isSorterMenuOpened: false,
      sortBy: 'year',
      sortDirection: 'asc',
      sortFields: [
        'countries',
        'year',
        'genres',
        'translations',
        'resolutions',
        'certificate',
        'rating',
      ]
    };
  },

  computed: {
    ...mapState('route', {
      queryParams: state => state.query,
    }),
  },


  methods: {
    closeSorterMenu() {
      this.isSorterMenuOpened = false;
    },

    toggleSorterMenu() {
      this.isSorterMenuOpened = !this.isSorterMenuOpened;
    },

    sort(field) {
      let query = Object.assign({}, this.queryParams);

      const directionMap = {
        asc: 'desc',
        desc: 'asc'
      }

      if (this.sortBy === field) {
        this.sortDirection = directionMap[this.sortDirection];
      } else {
        this.sortBy = field;
      }

      query = {
        ...query,
        sort: `${this.sortBy}-${this.sortDirection}`,
      };

      this.$router.replace({ query });
    },
  },

  created() {
    if (this.queryParams.sort) {
      const sortParams = this.queryParams.sort.split('-');

      this.sortBy = sortParams[0];
      this.sortDirection = sortParams[1];
    }
  },
};
</script>

<style lang="scss">
.-sorter {
  position: relative;
  display: inline-block;

  &__menu {
    position:absolute;
    right: 0;
    margin-top:14px;
    border-radius: 6px;
    border:1px solid rgba(0,0,0,  0.12);
    overflow:visible;
    background: var(--bg-color);
    box-shadow:0px 15px 20px rgba(0,0,0,  0.05);
    z-index:50;
    min-width:180px;
    top: 100%;
    opacity:0;
    visibility:hidden;
    animation-duration:200ms;
    animation-name: ProgressionMoveOut;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    @media only screen and (max-width: 767px) {
      right: auto;
    }

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      right: 20px;
      margin-top:-10px;
      width: 0;
      height: 0;
      z-index:30;
      border-style: solid;

      @media only screen and (max-width: 767px) {
        left: 20px;
        right: auto;
      }
    }

    &::before {
      top: -10px;
      border-color: transparent transparent rgba(0,0,0,  0.16) transparent;
      border-width: 10px;
    }

    &::after {
      top: -9px;
      border-color:transparent transparent var(--bg-color) transparent;
      border-width: 10px;
    }

    ul {
      list-style:none;
      margin:0px;
      padding:0px;

      li {
        margin:0px;
        padding:0px;

        a {
          display:block;
          font-family: 'Montserrat', sans-serif;
          font-weight:300;
          color: var(--dropdown-color);
          padding:10px 20px;
          font-size:13px;

          &.selected,
          &:hover {
            background: rgba(0, 0, 0, .2);
            color: var(--primary-color);
          }
        }

        span {
          font-size:18px;
          position:relative;
          top:2px;
          margin-right:8px;
        }
      }
    }

    &_opened {
      transform: translateY(20px);
      opacity:0;
      visibility:visible;
      animation-duration:250ms;
      animation-name: ProgressionMoveUp;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}
</style>
