<template>
  <div class="-title">
    <h4 class="-title__value">{{ title }}</h4>

    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  @media only screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__value {
    line-height: 1.5;
    margin: 0;

    @media only screen and (max-width: 767px) {
      margin-bottom: 1rem;
    }
  }
}
</style>
