<template>
  <app-loader v-if="isFetchingProcess" />

  <content-list :list="allCollections" content-type="collections" v-else>
    <div class="container">
      <div class="content -title-by-addons">
        <h1>{{ $t('page.collections.title') }}</h1>

        <extended-search-dialog-opener />

      </div>
    </div>
  </content-list>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import AppLoader from '@/views/blocks/loader.vue';
import ContentList from '@/views/blocks/content-list.vue';
import ExtendedSearchDialogOpener from '@/views/blocks/extended-search-dialog/extended-search-dialog-opener.vue';

export default {
  name: 'CollectionsPage',

  components: {
    AppLoader,
    ContentList,
    ExtendedSearchDialogOpener,
  },

  computed: {
    ...mapState('content/collections', {
      allCollections: state => Object.values(state.all.items),
      isFetchingProcess: state => state.all.isFetchingProcess,
    }),
  },

  methods: {
    ...mapActions('content/collections', {
      fetchAllCollections: 'FETCH_ALL',
    }),
  },

  created() {
    this.fetchAllCollections();
  },
}
</script>
