<template>
  <main id="col-main" class="construction">
    <p class="construction__icon"><span class="icon-Barricade"></span></p>
    <p class="construction__title">Бұл парақша қазыр жасалу үстінде</p>
    <p class="construction__subtitle">Біраз уақыттан кейін қайта кіріп көріңіз</p>
  </main>
</template>

<style lang="scss">
.construction {
  padding: 3rem 1rem;
  text-align: center;

  &__icon {
    font-size: 4rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 1.5rem;
  }
}
</style>