<template>
  <main id="col-main">
    <construction />
  </main>
</template>

<script>
import Construction from '@/views/blocks/construction.vue';

export default {
  components: {
    Construction,
  }
}
</script>