<template>
  <section class="section">
    <div class="container">
      <h1 class="title">{{ $t('page.not-found.title') }}</h1>
      <h2 class="subtitle">{{ $t('page.not-found.subtitle') }}</h2>
    </div>
  </section>
</template>
