<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Қазақша фильмдер</title>
    <style>
      @keyframes splash-spinner {
        0% {
          transform: scale(0);
        }
        50% {
          opacity: 1;
        }
      }
      .-splash {
        width: 100vw;
        height: 100vh;
        display: flex;
      }
      .-splash__spinner {
        width: 3rem;
        height: 3rem;
        margin: auto;

        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: text-bottom;
        background-color: currentColor;
        border-radius: 50%;
        opacity: 0;
        animation: splash-spinner .75s linear infinite;
      }
      .-splash__spinner-inner {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <div class="-splash">
        <div class="-splash__spinner">
          <span class="-splash__spinner-inner">Жүктелу үстінде...</span>
        </div>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>

