<template>
  <app-loader v-if="isFetchingProcess && !fetchingError" />

  <div v-else-if="!isFetchingProcess && !fetchingError">
    <meta-top :content="currentCartoon" />

    <div class="watch-content">
      <section class="section">
        <div class="container">
          <div class="content">
            <div class="watch-content__player">
              <video-player
                :url="currentCartoon.url"
                :poster="currentCartoon.poster"
              />

              <meta-middle :content="currentCartoon" />
            </div>
          </div>
        </div>
      </section>
    </div>

    <meta-bottom :content="currentCartoon" />
  </div>

  <div v-else>
    <h1>ERROR OCURRED</h1>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import AppLoader from '@/views/blocks/loader.vue';
import MetaTop from '@/views/blocks/meta/top.vue';
import MetaMiddle from '@/views/blocks/meta/middle.vue';
import MetaBottom from '@/views/blocks/meta/bottom.vue';
import VideoPlayer from '@/views/blocks/video-player.vue';

export default {
  name: 'CartoonsItemPage',

  components: {
    AppLoader,
    MetaTop,
    MetaMiddle,
    MetaBottom,
    VideoPlayer,
  },

  data() {
    return {
      currentCartoonID: this.$route.params.id,
    };
  },

  computed: {
    ...mapState('content/cartoons', {
      currentCartoon: state => state.current.item,
      isFetchingProcess: state => state.current.isFetchingProcess,
      fetchingError: state => state.current.fetchingError,
    }),
  },

  methods: {
    ...mapActions('content/cartoons', {
      fetchSingleCartoon: 'FETCH_SINGLE',
    }),
  },

  created() {
    document.title = this.$t('page.cartoons-item.meta-title', { title: this.$t('global.loading') });

    this
      .fetchSingleCartoon(this.currentCartoonID)
      .then(() => {
        document.title = this.$t('page.cartoons-item.meta-title', { title: this.currentCartoon.title });
      });
  },
}
</script>
