:root.theme-light {
  --bg-color: #fff;
  --second-bg-color: #fafafa;
  --sidebar-bg-color: #fff;
  --footer-bg-color: #eee;
  --text-color: #555;
  --list-color: #848484;
  --border-color: #e7e7e7;
  --header-color: #4b5768;
  --header-active-color: #313d4c;
  --primary-color: #3db13d;
  --hover-color: #9d9d9d;
  --btn-bg-primary-color: #3db13d;
  --btn-bg-primary-hover-color: #9d9d9d;
  --btn-bg-color: #f9f9f9;
  --btn-text-color: #666666;
  --btn-border-color: #e7e7e7;
  --color-accent: #fd6f53;
  --font-color: #000;
  --dropdown-color: #888;
  --input-color: #444;
  --input-bg-color: #fafafa;
  --slider-bg-color: #cfcdc7;
  --placeholder-color: #aaa;
  --checkbox-color: #777;
  --hr-border-color: rgba(0, 0, 0, .09);
}

:root.theme-dark {
  --bg-color:#3a4656;
  --second-bg-color: #292f3b;
  --sidebar-bg-color: #3a4656;
  --footer-bg-color: #333948;
  --text-color: #fbfbfe;
  --list-color: #fbfbfe;
  --border-color: #2d3a48;
  --header-color: #cad4de;
  --header-active-color: #fbfcfc;
  --primary-color: #69cbdb;
  --hover-color: #53d6c6;
  --btn-bg-primary-color: #292f3b;
  --btn-bg-primary-hover-color: #2d3a48;
  --btn-bg-color: #485a70;
  --btn-text-color: #bcc6d1;
  --btn-border-color: #2d3a48;
  --color-accent: #12cdea;
  --font-color: #fff;
  --dropdown-color: #e4e4e4;
  --input-color: #dedede;
  --input-bg-color: #2d3948;
  --slider-bg-color: #2d3948;
  --placeholder-color: #697183;
  --checkbox-color: #e4e4e4;
  --hr-border-color: rgba(255, 255, 255, .09);
}
