html,
body,
#app,
.-page {
  height: 100%;
}

html {
  background-color: $body-bg;
}

.-page {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.control.has-icons-left .icon.is-button,
.control.has-icons-right .icon.is-button {
  border: none;
  background-color: unset;
  cursor: pointer;
  pointer-events: auto;

  &:hover {
    color: #4a4a4a !important;
  }
}

.-tabs ul li {
  position: relative;
}

.watch-content {
  background-color: rgb(66, 63, 99);

  &__player {
    display: flex;
    flex-direction: row-reverse;

    @include until(768px) {
      display: block;
    }
  }
}