<template>
  <main id="col-main">
    <app-loader v-if="isFetchingProcess" />

    <content-slider v-if="!isFetchingProcess" />

    <div class="clearfix" v-if="!isFetchingProcess"></div>

    <!-- <content-genres v-if="!isFetchingProcess" /> -->

    <content-container
      v-if="!isFetchingProcess"
      :list="seriesAdvancedSearchResults"
      content-type="series"
    />
  </main>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import AppLoader from '@/views/blocks/loader.vue';
import ContentSlider from '@/views/blocks/content/slider.vue';
// import ContentGenres from '@/views/blocks/content/genres.vue';
import ContentContainer from '@/views/blocks/content/container.vue';

export default {
  name: 'SeriesPage',

  components: {
    AppLoader,
    ContentSlider,
    // ContentGenres,
    ContentContainer,
  },

  computed: {
    ...mapState('content/series', {
      isFetchingProcess: state => state.all.isFetchingProcess,
    }),

    ...mapGetters('content', ['seriesAdvancedSearchResults']),
  },

  methods: {
    ...mapActions('content/series', {
      fetchAllSeries: 'FETCH_ALL',
    }),
  },

  created() {
    this.fetchAllSeries();
  },
}
</script>
