<template>
  <app-loader v-if="isFetchingProcess && !fetchingError" />

  <div v-else-if="!isFetchingProcess && !fetchingError">
    <meta-top :content="currentSeries" />

    <div class="watch-content">
      <section class="section">
        <div class="container">
          <div class="content">
            <div class="watch-content__player">
              <video-player
                :url="selectedEpisode.url"
                :poster="selectedEpisode.poster"
                :is-autoplay="isAutoplay"
              />

              <meta-middle :content="currentSeries" />
            </div>
          </div>
        </div>
      </section>
    </div>

    <content-list
      v-for="(episode, key) in currentSeries.episodes" :key="key"
      :list="episode"
      content-type="episodes"
      @select:episode="selectEpisode"
    >
      <div class="container">
        <div class="content -title-by-addons">
          <h2>{{ $t('global.nth-season', { season: key + 1 }) }}</h2>
        </div>
      </div>
    </content-list>

    <meta-bottom :content="currentSeries" />
  </div>

  <div v-else>
    <h1>ERROR OCURRED</h1>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import AppLoader from '@/views/blocks/loader.vue';
import MetaTop from '@/views/blocks/meta/top.vue';
import MetaMiddle from '@/views/blocks/meta/middle.vue';
import MetaBottom from '@/views/blocks/meta/bottom.vue';
import VideoPlayer from '@/views/blocks/video-player.vue';
import ContentList from '@/views/blocks/content-list.vue';

export default {
  name: 'SeriesItemPage',

  components: {
    AppLoader,
    MetaTop,
    MetaMiddle,
    MetaBottom,
    VideoPlayer,
    ContentList,
  },

  data() {
    return {
      currentSeriesID: this.$route.params.id,
      isAutoplay: false,
      currentSeason: 1,
      currentEpisode: 1,
    };
  },

  computed: {
    ...mapState('content/series', {
      currentSeries: state => state.current.item,
      isFetchingProcess: state => state.current.isFetchingProcess,
      fetchingError: state => state.current.fetchingError,
    }),

    selectedEpisode() {
      return this.currentSeries.episodes[this.currentSeason - 1][this.currentEpisode - 1];
    },
  },

  methods: {
    ...mapActions('content/series', {
      fetchSingleSeries: 'FETCH_SINGLE',
    }),

    selectEpisode(selected) {
      this.currentSeason = selected.season;
      this.currentEpisode = selected.episode;

      console.log('selectEpisode selected:', selected);
    }
  },

  created() {
    document.title = this.$t('page.series-item.meta-title', { title: this.$t('global.loading') });

    this
      .fetchSingleSeries(this.currentSeriesID)
      .then(() => {
        document.title = this.$t('page.series-item.meta-title', { title: this.currentSeries.title });
      });
  },
}
</script>
