<template>
  <app-loader v-if="isFetchingProcess && !fetchingError" />

  <div v-else-if="!isFetchingProcess && !fetchingError">
    <meta-top :content="currentDocumentary" />

    <div class="watch-content">
      <section class="section">
        <div class="container">
          <div class="content">
            <div class="watch-content__player">
              <video-player :content="currentDocumentary" />

              <meta-middle :content="currentDocumentary" />
            </div>
          </div>
        </div>
      </section>
    </div>

    <meta-bottom :content="currentDocumentary" />
  </div>

  <div v-else>
    <h1>ERROR OCURRED</h1>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import AppLoader from '@/views/blocks/loader.vue';
import MetaTop from './__meta-top.vue';
import MetaMiddle from './__meta-middle.vue';
import MetaBottom from './__meta-bottom.vue';
import VideoPlayer from './__video-player.vue';

export default {
  name: 'WatchSeriesPage',

  components: {
    AppLoader,
    MetaTop,
    MetaMiddle,
    MetaBottom,
    VideoPlayer,
  },

  data() {
    return {
      currentDocumentaryID: this.$route.params.id,
    };
  },

  computed: {
    ...mapState('content/documentaries', {
      currentDocumentary: state => state.current.item,
      isFetchingProcess: state => state.current.isFetchingProcess,
      fetchingError: state => state.current.fetchingError,
    }),
  },

  methods: {
    ...mapActions('content/documentaries', {
      fetchSingleDocumentary: 'FETCH_SINGLE',
    }),
  },

  created() {
    this
      .fetchSingleDocumentary(this.currentDocumentaryID)
      .then(() => {
        document.title = this.$t('page.watch.meta-title', { title: this.currentDocumentary.title });
      });
  },
}
</script>
