<template>
  <h5 class="-page-settings__title" @click="isOpened = !isOpened">
    {{ $t('page.settings.account-information') }}

    <i :class="['fas fa-angle-down', { 'is-opened': isOpened }]"></i>
  </h5>

  <p class="small-paragraph-spacing">{{ $t('page.settings.account-information-desc') }}</p>

  <transition name="slidedown">
    <div v-if="isOpened">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="email" class="col-form-label">{{ $t('page.settings.email') }}</label>
            <input
              id="email"
              type="email"
              class="form-control"
              :disabled="true"
              :value="$_user && $_user.email"
              :placeholder="$t('page.settings.email-placeholder')"
            >
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <div>
              <label for="button-change" class="col-form-label">&nbsp; &nbsp;</label>
            </div>
            <button
              class="btn btn-form"
              type="button"
              @click.prevent="openChangeEmailDialog"
            >
              {{ $t('page.settings.change-email') }}
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="password" class="col-form-label">{{ $t('page.settings.current-password') }}</label>
            <input
              id="password"
              type="password"
              class="form-control"
              :disabled="true"
              :value="$_user && $_user.email"
              :placeholder="$t('page.settings.password-placeholder')"
            >
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <div>
              <label for="button-change" class="col-form-label">&nbsp; &nbsp;</label>
            </div>
            <button
              class="btn btn-form"
              type="button"
              @click.prevent="openChangePasswordDialog"
            >
              {{ $t('page.settings.change-password') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>

  <change-email-dialog
    :is-opened="isChangeEmailDialogOpened"
    @close="closeChangeEmailDialog"
  />

  <change-password-dialog
    :is-opened="isChangePasswordDialogOpened"
    @close="closeChangePasswordDialog"
  />

  <hr>
</template>

<script>
import ChangeEmailDialog from './_change-email-dialog.vue';
import ChangePasswordDialog from './_change-password-dialog.vue';

export default {
  name: 'SettingsPageAccount',

  components: {
    ChangeEmailDialog,
    ChangePasswordDialog,
  },

  data() {
    return {
      isOpened: true,
      isChangeEmailDialogOpened: false,
      isChangePasswordDialogOpened: false,
    }
  },

  methods: {
    openChangeEmailDialog() {
      document.body.classList.add('modal-open');
      this.isChangeEmailDialogOpened = true;
    },

    closeChangeEmailDialog() {
      document.body.classList.remove('modal-open');
      this.isChangeEmailDialogOpened = false;
    },

    openChangePasswordDialog() {
      document.body.classList.add('modal-open');
      this.isChangePasswordDialogOpened = true;
    },

    closeChangePasswordDialog() {
      document.body.classList.remove('modal-open');
      this.isChangePasswordDialogOpened = false;
    },
  },
}
</script>
