<template>
  <teleport to="body">
    <div v-if="isOpened" class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true">
      <button
        type="button"
        class="close float-close-pro"
        data-dismiss="modal"
        aria-label="Close"
        @click="tryClose"
      >
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header-pro">
            <p class="modal-card-title">{{ $t('block.change-password-dialog.title') }}</p>
          </div>

          <div class="modal-body-pro social-login-modal-body-pro">
            <change-password-form
              :can-close-parent="attemptingToClose"
              @keep-parent-opened="resetAttemptingToClose"
              @password-changed="handlePasswordChanging"
              @close-parent="close"
            />
          </div>
        </div>
      </div>
    </div>

    <div v-if="isOpened" class="modal-backdrop fade show"></div>
  </teleport>
</template>

<script>
import { mapActions } from 'vuex';
import ChangePasswordForm from '@/views/blocks/change-password-form.vue';

export default {
  name: 'SettingsPageChangePasswordDialog',

  components: {
    ChangePasswordForm,
  },

  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
  },

  data() {
    return {
      attemptingToClose: false,
    };
  },

  emits: ['close'],

  methods: {
    ...mapActions('auth', {
      signOut: 'SIGN_OUT',
    }),

    tryClose() {
      this.attemptingToClose = true;
    },

    resetAttemptingToClose() {
      this.attemptingToClose = false;
    },

    async handlePasswordChanging() {
      this.close();

      await this.signOut();

      this.$router.push({
        name: 'auth-sign-in',
      });
    },

    close() {
      this.resetAttemptingToClose();
      this.$emit('close');
    },
  },
};
</script>

<style lang="scss">
.new-password {
  flex-flow: row wrap;

  .control {
    flex: 0 0 100%;
  }

  &__complexity {
    flex: 0 0 100%;
    background-color: #00d1b2;
    height: 2px;
  }
}
</style>
