<template>
  <teleport to="body">
    <div v-if="isOpened" class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true">
      <button
        type="button"
        class="close float-close-pro"
        data-dismiss="modal"
        aria-label="Close"
        @click="close"
      >
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header-pro">
            <p class="modal-card-title">
              <span v-if="$_user.avatar">{{ $t('block.change-avatar-dialog.set-title') }}</span>
              <span v-else>{{ $t('block.change-avatar-dialog.change-title') }}</span>
            </p>
          </div>

          <div class="modal-body-pro social-login-modal-body-pro">
            <input
              style="display: none"
              ref="input"
              type="file"
              name="image"
              accept="image/*"
              @change="setImage"
            />

            <div class="content">
              <section class="cropper-area">
                <div class="img-cropper">
                  <vue-cropper
                    v-show="imgSrc"
                    ref="cropper"
                    :aspect-ratio="1"
                    :view-mode="3"
                    drag-mode="move"
                    :src="imgSrc"
                  />

                  <div v-if="!imgSrc" class="uploader" @click.prevent="showFileChooser">
                    <i class="fas fa-upload"></i>
                    <p>Аватарды қою үшін керекті файлды жүктеңіз</p>
                  </div>
                </div>
                <div class="actions">
                  <div>
                    <button
                      class="btn action"
                      @click.prevent="zoom(0.2)"
                    >
                      <i class="fas fa-search-plus"></i>
                    </button>

                    <button
                      class="btn action"
                      @click.prevent="zoom(-0.2)"
                    >
                      <i class="fas fa-search-minus"></i>
                    </button>
                  </div>

                  <div>
                    <button
                      class="btn action"
                      @click.prevent="rotate(90)"
                    >
                      <i class="fas fa-redo"></i>
                    </button>

                    <button
                      class="btn action"
                      @click.prevent="rotate(-90)"
                    >
                      <i class="fas fa-undo"></i>
                    </button>
                  </div>

                  <div>
                    <button
                      ref="flipX"
                      class="btn action"
                      @click.prevent="flipX"
                    >
                      <i class="fas fa-arrows-alt-h"></i>
                    </button>

                    <button
                      ref="flipY"
                      class="btn action"
                      @click.prevent="flipY"
                    >
                      <i class="fas fa-arrows-alt-v"></i>
                    </button>
                  </div>

                  <button
                    class="btn btn-green-pro"
                    @click.prevent="cropImage"
                  >
                    <i class="fas fa-check"></i>
                    {{ $t('block.change-avatar-dialog.done') }}
                  </button>

                  <button
                    class="btn cancel"
                    @click.prevent="close"
                  >
                    {{ $t('block.change-avatar-dialog.cancel') }}
                  </button>
                  
                </div>
              </section> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="isOpened" class="modal-backdrop fade show"></div>
  </teleport>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

export default {
  name: 'ProfilePageChangeAvatarDialog',

  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
  },

  emits: ['close'],

  components: {
    VueCropper,
  },

  computed: {
    ...mapState('user', ['isAvatarSaving']),
  },

  data() {
    return {
      imgSrc: '',
      cropImg: '',
      data: null,
    };
  },

  methods: {
    ...mapActions('user', {
      saveUserInfo: 'SAVE_USER_INFO',
    }),

    close() {
      if (!this.isAvatarSaving) {
        this.$emit('close');
        this.rawImage = null;
        this.croppedImage = null;
        this.zoomValue = 0.1;
        // this.v$.$reset();
      }
    },

    cropImage() {
      // get image data for post processing, e.g. upload or setting image src
      this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();

      this.saveUserInfo({
        uid: this.$_user.uid,
        fields: [
          'avatar',
        ],
        values: [
          this.cropImg,
        ],
      }).then(() => {
        this.close();
      });
    },
    flipX() {
      const dom = this.$refs.flipX;
      let scale = dom.getAttribute('data-scale');
      scale = scale ? -scale : -1;
      this.$refs.cropper.scaleX(scale);
      dom.setAttribute('data-scale', scale);
    },
    flipY() {
      const dom = this.$refs.flipY;
      let scale = dom.getAttribute('data-scale');
      scale = scale ? -scale : -1;
      this.$refs.cropper.scaleY(scale);
      dom.setAttribute('data-scale', scale);
    },
    getCropBoxData() {
      this.data = JSON.stringify(this.$refs.cropper.getCropBoxData(), null, 4);
    },
    getData() {
      this.data = JSON.stringify(this.$refs.cropper.getData(), null, 4);
    },
    move(offsetX, offsetY) {
      this.$refs.cropper.move(offsetX, offsetY);
    },
    reset() {
      this.$refs.cropper.reset();
    },
    rotate(deg) {
      this.$refs.cropper.rotate(deg);
    },
    setCropBoxData() {
      if (!this.data) return;

      this.$refs.cropper.setCropBoxData(JSON.parse(this.data));
    },
    setData() {
      if (!this.data) return;

      this.$refs.cropper.setData(JSON.parse(this.data));
    },
    setImage(e) {
      const file = e.target.files[0];

      if (file.type.indexOf('image/') === -1) {
        alert('Please select an image file');
        return;
      }

      if (typeof FileReader === 'function') {
        const reader = new FileReader();

        reader.onload = (event) => {
          this.imgSrc = event.target.result;
          // rebuild cropperjs with the updated source
          this.$refs.cropper.replace(event.target.result);
        };

        reader.readAsDataURL(file);
      } else {
        alert('Sorry, FileReader API not supported');
      }
    },
    showFileChooser() {
      this.$refs.input.click();
    },
    zoom(percent) {
      this.$refs.cropper.relativeZoom(percent);
    },
  },
};
</script>

<style lang="scss">
@import '~bulma/sass/utilities/initial-variables.sass';

.avatar-changing {
  display: flex;

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  .croppie-container .cr-viewport,
  .croppie-container .cr-resizer {
    border-radius: 50%;
  }

  &__img-area {
    flex-shrink: 0;
    width: 300px;
    height: 300px;

    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  &__toolbar {
    padding: 0 0 0 1em;

    @media (max-width: $tablet) {
      padding: 1em 0 0;
    }
  }
}

.actions {
  margin: 0 0 10px 10px;

  div {
    display: flex;
  }

  .btn.action {
    width: 45px;
    height: 45px;
  }

  .btn.cancel,
  .btn.btn-green-pro {
    width: 100px;
  }

  .btn {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .fas {
    margin: 0;
  }
}

.cropper-area {
  display: flex;
}
.img-cropper {
  flex: 0 0 70%;
}
.uploader {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  height: calc(100% - 20px);
  border: 1px dashed var(--btn-bg-primary-color);
  color: var(--btn-bg-primary-color);
  text-align: center;

  &:hover {
    border-color: var(--btn-bg-primary-hover-color);
    color: var(--btn-bg-primary-hover-color);
  }
}

.preview-area {
  width: 307px;
}

.preview-area p {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 1rem;
}

.preview-area p:last-of-type {
  margin-top: 1rem;
}

.preview {
  width: 100%;
  height: calc(372px * (9 / 16));
  overflow: hidden;
}

.crop-placeholder {
  width: 100%;
  height: 200px;
  background: #ccc;
}

.cropped-image img {
  max-width: 100%;
}
</style>
