<template>
  <teleport to="body">
    <div v-if="isOpened" class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true">
      <button
        type="button"
        class="close float-close-pro"
        data-dismiss="modal"
        aria-label="Close"
        @click="close"
      >
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header-pro">
            <p class="modal-card-title">{{ $t('block.change-email-dialog.title') }}</p>
          </div>

          <form
            method="post"
            name="email-change"
            class="modal-body-pro social-login-modal-body-pro"
            @submit.prevent="submitForm"
          >
            <app-input-group
              id="currentEmail"
              name="currentEmail"
              autocomplete="username"
              icon="fas fa-envelope"
              :label="$t('form.current-email.label')"
              :is-disabled="true"
              :value="currentEmail"
            />

            <app-input-group
              id="currentPassword"
              name="currentPassword"
              autocomplete="password"
              icon="fas fa-lock"
              :type="currentPasswordType"
              :label="$t('form.password.label')"
              :placeholder="$t('form.password.placeholder')"
              :is-disabled="isFormProcessing"
              :is-invalid="currentPasswordErrorMessages.length > 0"
              :has-right-button="true"
              :right-button-icon="currentPasswordShowerIcon"
              :invalid-texts="currentPasswordErrorMessages"
              v-model:value="v$.currentPassword.$model"
              @input:input="resetCurrentPasswordValidation"
              @click:right-button="isCurrentPasswordShowed = !isCurrentPasswordShowed"
            />

            <app-input-group
              id="newEmail"
              name="newEmail"
              icon="fas fa-envelope"
              type="email"
              inputmode="email"
              :label="$t('form.new-email.label')"
              :placeholder="$t('form.new-email.placeholder')"
              :is-disabled="isFormProcessing"
              :is-invalid="newEmailErrorMessages.length > 0"
              :invalid-texts="newEmailErrorMessages"
              v-model:value="v$.newEmail.$model"
              @input:input="resetNewEmailValidation"
            />

            <app-input-group
              id="newEmailConfirm"
              name="newEmailConfirm"
              icon="fas fa-envelope"
              type="email"
              inputmode="email"
              :label="$t('form.new-email-confirm.label')"
              :placeholder="$t('form.new-email-confirm.placeholder')"
              :is-disabled="isFormProcessing"
              :is-invalid="newEmailConfirmErrorMessages.length > 0"
              :invalid-texts="newEmailConfirmErrorMessages"
              v-model:value="v$.newEmailConfirm.$model"
              @input:input="resetNewEmailConfirmValidation"
            />

            <div class="form-group">
              <div class="alert alert-danger" v-if="formErrorsMessages.length">
                <p v-for="(item, key) in formErrorsMessages" :key="key">{{ item }}</p>
              </div>
            </div>

            <app-button-group
              :is-primary-disabled="isFormProcessing"
              :is-secondary-disabled="isFormProcessing"
              :is-primary-loading="isFormProcessing"
              :primary-text="$t('block.change-email-dialog.change')"
              :secondary-text="$t('block.change-email-dialog.cancel')"
              @click:secondary="close"
            />
          </form>
        </div>
      </div>
    </div>

    <div v-if="isOpened" class="modal-backdrop fade show"></div>
  </teleport>
</template>

<script>
import useVuelidate from '@vuelidate/core';
import { required, minLength, maxLength, email, sameAs } from '@vuelidate/validators';
import { mapState, mapActions, mapMutations } from 'vuex';
import AppInputGroup from '@/views/blocks/input-group.vue';
import AppButtonGroup from '@/views/blocks/button-group.vue';

const EMAIL_MIN_LENGTH = 6;
const EMAIL_MAX_LENGTH = 128;

export default {
  name: 'SettingsPageChangeEmailDialog',

  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
  },

  emits: ['close'],

  components: {
    AppInputGroup,
    AppButtonGroup,
  },

  data() {
    return {
      currentPassword: '',
      newEmail: '',
      newEmailConfirm: '',
      isCurrentPasswordShowed: false,
    };
  },

  setup () {
    return { v$: useVuelidate() }
  },

  validations() {
    return {
      currentPassword: {
        required,
      },

      newEmail: {
        required,
        email,
        minLength: minLength(EMAIL_MIN_LENGTH),
        maxLength: maxLength(EMAIL_MAX_LENGTH),
      },

      newEmailConfirm: {
        required,
        sameAs: sameAs(this.newEmail),
      },
    };
  },

  computed: {
    ...mapState('auth/change-email', {
      formErrors: state => state.errors,
      isFormProcessing: state => state.isProcessing,
    }),

    currentEmail() {
      return this.$_user ? this.$_user.email : '';
    },

    currentPasswordErrorMessages() {
      const errors = [];

      if (!this.v$.currentPassword.$dirty) return errors;
      if (this.v$.currentPassword.required.$invalid) errors.push(this.$t('errors.change-email.current-password-is-required'));

      return errors;
    },

    newEmailErrorMessages() {
      const errors = [];

      if (!this.v$.newEmail.$dirty) return errors;
      if (this.v$.newEmail.required.$invalid) errors.push(this.$t('errors.change-email.new-email-is-required'));
      if (this.v$.newEmail.minLength.$invalid) {
        errors.push(this.$t('errors.change-email.new-email-must-be-min-length', {
          length: this.v$.newEmail.minLength.$params.min,
        }));
      }
      if (this.v$.newEmail.maxLength.$invalid) {
        errors.push(this.$t('errors.change-email.new-email-must-be-max-length', {
          length: this.v$.newEmail.maxLength.$params.max,
        }));
      }

      return errors;
    },

    newEmailConfirmErrorMessages() {
      const errors = [];

      if (!this.v$.newEmailConfirm.$dirty) return errors;
      if (this.v$.newEmailConfirm.required.$invalid) errors.push(this.$t('errors.change-email.new-email-confirm-is-required'));
      if (!this.v$.newEmailConfirm.required.$invalid && this.v$.newEmailConfirm.sameAs.$invalid) errors.push(this.$t('errors.change-email.emails-not-equal'));

      return errors;
    },

    formErrorsMessages() {
      return this.formErrors.map(item => this.$t(`errors.change-email.${item}`));
    },

    currentPasswordType() {
      return this.isCurrentPasswordShowed ? 'text' : 'password';
    },

    currentPasswordShowerIcon() {
      return this.isCurrentPasswordShowed ? 'm-0 fas fa-eye-slash' : 'm-0 fas fa-eye';
    },
  },

  methods: {
    ...mapActions('auth/change-email', {
      changeEmail: 'CHANGE_USER_EMAIL',
    }),

    ...mapActions('auth', {
      signOut: 'SIGN_OUT',
    }),

    ...mapMutations('auth/change-email', {
      clearFormErrors: 'CLEAR_ALL_ERRORS',
    }),

    async submitForm() {
      if (!this.isFormProcessing) {
        const isFormValid = await this.v$.$validate();

        if (isFormValid) {
          try {
            const isEmailChanged = await this.changeEmail({
              currentPassword: this.currentPassword,
              email: this.newEmail,
            });

            if (isEmailChanged) {
              await this.signOut();

              this.$router.push({
                name: 'auth-sign-in',
              });
            }
          } catch (error) {
            console.log('submitForm catch error');
            console.log('err:', error);
          }
        }
      }
    },

    resetCurrentPasswordValidation() {
      this.clearFormErrors();
      this.v$.currentPassword.$reset();
    },

    resetNewEmailValidation() {
      this.clearFormErrors();
      this.v$.newEmail.$reset();
      this.v$.newEmailConfirm.$reset();
    },

    resetNewEmailConfirmValidation() {
      this.clearFormErrors();
      this.v$.newEmailConfirm.$reset();
    },

    close() {
      if (!this.isFormProcessing) {
        this.$emit('close');
        this.currentPassword = '';
        this.newEmail = '';
        this.newEmailConfirm = '';
        this.isCurrentPasswordShowed = false;
        this.v$.$reset();
      }
    },
  },
};
</script>
