<template>
  <h5 class="-page-settings__title" @click="isOpened = !isOpened">
    {{ $t('page.settings.preferred-genres') }}

    <i :class="['fas fa-angle-down', { 'is-opened': isOpened }]"></i>
  </h5>

  <p class="small-paragraph-spacing">{{ $t('page.settings.pick-your-favorite-genres') }}</p>

  <transition name="slidedown">
    <div class="registration-genres-step" v-if="isOpened">
      <ul class="registration-genres-choice">

        <li
          v-for="genre in availableGenres"
          :key="genre.alias"
          :class="{ active: favoriteGenres.includes(genre.alias) }"
          @click="selectGenre(genre.alias)"
        >
          <i class="fas fa-check-circle"></i>
          <img :src="require(`../../../assets/img/genres/${genre.alias}.png`)" alt="">
          <h6>{{ genre.title }}</h6>
        </li>

      </ul>
      <div class="clearfix"></div>
    </div>
  </transition>

  <div class="clearfix"></div>

  <hr>
</template>

<script>
import { GENRES } from '@/config';

export default {
  name: 'SettingsPageGenres',

  props: {
    favoriteGenres: {
      type: Array,
      required: true,
    },
  },

  emits: [
    'select:genre',
  ],

  data() {
    const genres = GENRES
      .map((genre) => ({ alias: genre, title: this.$t(`global.genres.${genre}`) }))
      .sort((a, b) => a.title.localeCompare(b.title));

    return {
      availableGenres: genres,
      isOpened: true,
    };
  },

  methods: {
    selectGenre(genre) {
      console.log('selectGenre genre:', genre);

      let selectedGenres = [...this.favoriteGenres];

      if (this.favoriteGenres.includes(genre)) {
        console.log('this.favoriteGenres.includes(genre):', this.favoriteGenres.includes(genre));

        selectedGenres = this.favoriteGenres.filter(item => item !== genre);
      } else {
        console.log('this.favoriteGenres.includes(genre):', this.favoriteGenres.includes(genre));

        selectedGenres.push(genre);
      }

      this.$emit(`update:favorite-genres`, selectedGenres);
    },
  }
}
</script>