<template>
  <h5 class="-page-settings__title" @click="isOpened = !isOpened">
    {{ $t('page.settings.general-information') }}

    <i :class="['fas fa-angle-down', { 'is-opened': isOpened }]"></i>
  </h5>

  <transition name="slidedown">
    <div class="row" v-if="isOpened">
      <div class="col-sm">
        <div class="form-group">
          <label for="first-name" class="col-form-label">
            {{ $t('page.settings.first-name') }}
          </label>
          <input
            id="first-name"
            type="text"
            class="form-control"
            :value="firstName"
            :placeholder="$t('page.settings.first-name-placeholder')"
            @input="$event => handleInput('first-name', $event.target.value)"
          >
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="last-name" class="col-form-label">
            {{ $t('page.settings.last-name') }}
          </label>
          <input
            id="last-name"
            type="text"
            class="form-control"
            :value="secondName"
            :placeholder="$t('page.settings.last-name-placeholder')"
            @input="$event => handleInput('second-name', $event.target.value)"
          >
        </div>
      </div>
    </div>
  </transition>

  <hr>
</template>

<script>
export default {
  name: 'SettingsPageGeneral',

  props: {
    firstName: {
      type: String,
      required: true,
    },

    secondName: {
      type: String,
      required: true,
    },
  },

  emits: [
    'update:first-name',
    'update:second-name',
  ],

  data() {
    return {
      isOpened: true,
    }
  },

  methods: {
    handleInput(key, value) {
      this.$emit(`update:${key}`, value);
    },
  },
};
</script>
