<template>
  <h5 class="-page-settings__title" @click="isOpened = !isOpened">
    {{ $t('page.settings.interface-settings') }}

    <i :class="['fas fa-angle-down', { 'is-opened': isOpened }]"></i>
  </h5>

  <p class="small-paragraph-spacing">{{ $t('page.settings.change-lang-desc') }}</p>

  <transition name="slidedown">
    <div class="row" v-if="isOpened">
      <div class="col-sm">
        <div class="form-group">
          <label for="last-name" class="col-form-label">{{ $t('page.settings.language') }}</label>
          <select
            class="custom-select"
            @change="$event => handleSelect('interface-locale', $event.target.value)"
          >
            <option
              v-for="locale in $_availableLocales"
              :key="`locale-${locale}`"
              :value="locale"
              :selected="interfaceLocale === locale"
            >
              {{ $t(`global.locale-${locale}`) }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <label for="last-name" class="col-form-label">{{ $t('page.settings.theme') }}</label>
          <select
            class="custom-select"
            @change="$event => handleSelect('interface-theme', $event.target.value)"
          >
            <option
              v-for="theme in $_availableThemes"
              :key="`theme-${theme}`"
              :value="theme"
              :selected="interfaceTheme === theme"
            >
              {{ $t(`global.theme-${theme}`) }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </transition>
  
  <hr>
</template>

<script>
export default {
  name: 'SettingsPageInterface',

  props: {
    interfaceLocale: {
      type: String,
      required: true,
    },

    interfaceTheme: {
      type: String,
      required: true,
    },
  },

  emits: [
    'update:interface-locale',
    'update:interface-theme',
  ],

  data() {
    return {
      isOpened: true,
    }
  },

  methods: {
    handleSelect(key, value) {
      this.$emit(`update:${key}`, value);
    },
  },
}
</script>
