<template>
  <main id="col-main">
    <div class="dashboard-container">
      <ul class="dashboard-sub-menu">
        <li class="current">
          <span>{{ $t('page.settings.account-settings') }}</span>
        </li>
        <li>
          <router-link :to="{ name: 'payments' }">{{ $t('page.settings.payments-info') }}</router-link>
        </li>
      </ul>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-3">
            <div id="account-edit-photo">
              <div class="avatar-container">
                <img v-if="$_user && $_user.avatar" :src="$_user.avatar" alt="Account Image">
                <span v-else>
                  <i class="fas fa-user-tie"></i>
                </span>
              </div>
              <p>
                <button
                  class="btn btn-green-pro btn-sm"
                  @click.prevent="openChangeAvatarDialog"
                >
                  <span v-if="$_user && $_user.avatar">{{ $t('page.settings.change-profile-picture') }}</span>
                  <span v-else>{{ $t('page.settings.set-profile-picture') }}</span>
                </button>
              </p>
              <p v-if="$_user && $_user.avatar">
                <button class="btn btn-sm" @click.prevent="deleteAvatar">
                  {{ $t('page.settings.delete-photo') }}
                </button>
              </p>
            </div>
          </div>

          <div class="col">
            <form
              class="account-settings-form"
              method="post"
              @submit.prevent="submitForm"
              @reset.prevent="resetForm"
            >
              <general-information
                v-model:first-name="firstName"
                v-model:second-name="secondName"
              />

              <account-information />

              <interface-information
                v-model:interface-locale="selectedInterfaceLocale"
                v-model:interface-theme="selectedInterfaceTheme"
              />

              <genres-settings
                v-model:favorite-genres="selectedGenres"
              />

              <div class="-page-settings__form-footer">
                <button type="submit" class="btn btn-green-pro btn-lg">
                  {{ $t('page.settings.save-changes') }}
                </button>
                <button type="reset" class="btn btn-lg">
                  {{ $t('page.settings.reset-changes') }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

  <change-avatar-dialog
    :is-opened="isChangeAvatarDialogOpened"
    @close="closeChangeAvatarDialog"
  />
</template>

<script>
import { mapActions } from 'vuex';
import GeneralInformation from './_general.vue';
import AccountInformation from './_account.vue';
import InterfaceInformation from './_interface.vue';
import GenresSettings from './_genres.vue';
import ChangeAvatarDialog from './_change-avatar-dialog.vue';

export default {
  name: 'SettingsPage',

  components: {
    GeneralInformation,
    AccountInformation,
    InterfaceInformation,
    GenresSettings,
    ChangeAvatarDialog,
  },

  data() {
    const { displayName, favoriteGenres = [], interfaceLocale, interfaceTheme } = this.$_user;

    return {
      firstName: displayName ? displayName.split(' ')[0] : '',
      secondName: displayName ? displayName.split(' ')[1] : '',
      selectedGenres: favoriteGenres,
      selectedInterfaceLocale: interfaceLocale,
      selectedInterfaceTheme: interfaceTheme,
      isChangeAvatarDialogOpened: false,
    };
  },

  methods: {
    ...mapActions('user', {
      saveUserInfo: 'SAVE_USER_INFO',
      updateProfile: 'UPDATE_PROFILE',
    }),

    submitForm(evt) {
      console.log('submit evt:', evt);

      this.updateProfile({
        displayName: `${this.firstName} ${this.secondName}`,
        theme: 'dark',
      });

      this.saveUserInfo({
        uid: this.$_user.uid,
        fields: [
          'favoriteGenres',
          'interfaceLocale',
          'interfaceTheme',
        ],
        values: [
          this.selectedGenres,
          this.selectedInterfaceLocale,
          this.selectedInterfaceTheme
        ],
      }).then(() => {
        this.$i18n.locale = event.target.value;
      });
    },

    resetForm(evt) {
      console.log('reset evt:', evt);
    },

    openChangeAvatarDialog() {
      document.body.classList.add('modal-open');
      this.isChangeAvatarDialogOpened = true;
    },

    closeChangeAvatarDialog() {
      document.body.classList.remove('modal-open');
      this.isChangeAvatarDialogOpened = false;
    },

    deleteAvatar() {
      this.saveUserInfo({
        uid: this.$_user.uid,
        fields: ['avatar'],
        values: [''],
      });
    },
  },
}
</script>

<style lang="scss">
.-page-settings {
  .dashboard-container {
    padding: 0 50px 50px;
  }

  &__form {
    &-footer {
      .btn {
        margin-right: 15px;
      }
    }
  }

  &__title {
    cursor: pointer;

    .fas {
      font-size: 1rem;
      margin-left: .2rem;
      transition: transform .3s ease;

      &.is-opened {
        transform: rotate(180deg);
      }
    }
  }

  .avatar-container {
    background-color: #f3f3f3;
    border-radius: 5px;
    font-size: 8rem;
    color: #ccc;
  }
}
</style>
