<template>
  <app-loader v-if="isFetchingProcess" />

  <content-list :list="allPersons" content-type="persons" v-else>
    <div class="container">
      <div class="content -title-by-addons">
        <h1>{{ $t('page.persons.title') }}</h1>

        <extended-search-dialog-opener />

      </div>
    </div>
  </content-list>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import AppLoader from '@/views/blocks/loader.vue';
import ContentList from '@/views/blocks/content-list.vue';
import ExtendedSearchDialogOpener from '@/views/blocks/extended-search-dialog/extended-search-dialog-opener.vue';

export default {
  name: 'PersonsPage',

  components: {
    AppLoader,
    ContentList,
    ExtendedSearchDialogOpener,
  },

  computed: {
    ...mapState('content/persons', {
      allPersons: state => Object.values(state.all.items),
      isFetchingProcess: state => state.all.isFetchingProcess,
    }),
  },

  methods: {
    ...mapActions('content/persons', {
      fetchAllPersons: 'FETCH_ALL',
    }),
  },

  created() {
    this.fetchAllPersons();
  },
}
</script>
