<template>
  <app-loader v-if="isFetchingProcess && !fetchingError" />

  <content-list
    v-else-if="!isFetchingProcess && !fetchingError"
    :list="currentCollection.items"
    :content-type="currentCollection.type"
  >
    <div class="container">
      <div class="content -title-by-addons">
        <h1>{{ currentCollection.title }}</h1>

        <extended-search-dialog-opener />

      </div>
    </div>
  </content-list>

  <div v-else>
    <h1>ERROR OCURRED</h1>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import AppLoader from '@/views/blocks/loader.vue';
import ContentList from '@/views/blocks/content-list.vue';
import ExtendedSearchDialogOpener from '@/views/blocks/extended-search-dialog/extended-search-dialog-opener.vue';

export default {
  name: 'CollectionsItemPage',

  components: {
    AppLoader,
    ContentList,
    ExtendedSearchDialogOpener,
  },

  data() {
    return {
      currentCollectionID: this.$route.params.id,
    };
  },

  computed: {
    ...mapState('content/collections', {
      currentCollection: state => state.current.item,
      isFetchingProcess: state => state.current.isFetchingProcess,
      fetchingError: state => state.current.fetchingError,
    }),
  },

  methods: {
    ...mapActions('content/collections', {
      fetchSingleCollection: 'FETCH_SINGLE',
    }),
  },

  created() {
    document.title = this.$t('page.collections-item.meta-title', { title: this.$t('global.loading') });

    this
      .fetchSingleCollection(this.currentCollectionID)
      .then(() => {
        document.title = this.$t('page.collections-item.meta-title', { title: this.currentCollection.title });
      });
  },
}
</script>
