<template>
  <div
    id="video-search-header"
    :class="['hide', { active: isContentFiltersOpened }]"
    v-click-outside="closeContentFilters"
  >
    <div
      id="search-icon-more"
      :class="{ opened: isContentFiltersOpened }"
      @click="isContentFiltersOpened = !isContentFiltersOpened"
    >
      <svg class="-search-icon__svg-arrow" xmlns="http://www.w3.org/2000/svg" width="8.959" height="6">
        <path class="-search-icon__path-arrow" d="M0 .999a1.011 1.011 0 00.286.709L4.477 6l4.2-4.293a1.02 1.02 0 000-1.412.948.948 0 00-1.37 0l-2.83 2.891-2.829-2.9a.948.948 0 00-1.37 0A1.012 1.012 0 000 .999z" fill="#a0a0a0"/>
      </svg>
      <svg class="-search-icon__svg-hmbr" xmlns="http://www.w3.org/2000/svg" width="37.065" height="20">
        <path class="-search-icon__path-hmbr" d="M18.252 19.518l-2.913-3.252A9.267 9.267 0 115.659.728a9.267 9.267 0 0111.556 13.3l3.2 3.577a1.425 1.425 0 01-.124 2.026 1.461 1.461 0 01-2.047-.12zM4.024 4.024a7.413 7.413 0 0010.484 10.484A7.413 7.413 0 004.024 4.024zM30.579 16.68H22.61l-2.49-2.78h10.46v2.78zM20.7 11.119a11.721 11.721 0 00.147-1.853c0-.309-.012-.62-.036-.927h16.254v2.779H20.7zm-5.573-3.243H13.2A4.177 4.177 0 009.266 5.1a4.126 4.126 0 00-1.853.433v-2a6.028 6.028 0 017.715 4.342zm5.117-2.316a11.561 11.561 0 00-1.38-2.78h18.2v2.78h-16.82z"/>
      </svg>
      <badge v-if="allFiltersCount > 0" :value="allFiltersCount" />
    </div>

    <input
      id="video-search-input"
      type="text"
      autocomplete="off"
      aria-label="Search"
      :placeholder="$t('global.search-placeholder')"
      :value="searchText"
      @input="updateSearchText"
      @keyup.enter="showResults" 
    >

    <div id="video-search-header-filtering">
      <app-tabs :uuid="filtersTabsUUID" :selected-tab-id="0" :badges="activeFiltersCount">
        <app-tab :title="$t('block.extended-search-dialog.countries')" :tab-id="0">
          <tab-countries />
        </app-tab>

        <app-tab :title="$t('block.extended-search-dialog.years')" :tab-id="1">
          <tab-year />
        </app-tab>

        <app-tab :title="$t('block.extended-search-dialog.genres')" :tab-id="2">
          <tab-genres />
        </app-tab>

        <app-tab :title="$t('block.extended-search-dialog.translations')" :tab-id="3">
          <tab-translations />
        </app-tab>

        <app-tab :title="$t('block.extended-search-dialog.resolutions')" :tab-id="4">
          <tab-resolutions />
        </app-tab>

        <app-tab :title="$t('block.extended-search-dialog.certificates')" :tab-id="5">
          <tab-certificates />
        </app-tab>

        <app-tab :title="$t('block.extended-search-dialog.ratings')" :tab-id="6">
          <tab-ratings />
        </app-tab>
      </app-tabs>

      <div id="video-search-header-buttons">
        <button class="btn btn-green-pro" @click="showResults">
          {{ $t('block.extended-search-dialog.show-results', { count: advancedSearchResultsCount }) }}
        </button>

        <button class="btn" type="button" @click="resetFilters">
          {{ $t('block.extended-search-dialog.reset-filters') }}
        </button>
      </div>
      
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';

import Badge from '@/views/blocks/badge.vue';
import AppTabs from '@/views/blocks/tabs.vue';
import AppTab from '@/views/blocks/tab.vue';
import TabCountries from '@/views/blocks/extended-search-dialog/_tab-countries.vue';
import TabYear from '@/views/blocks/extended-search-dialog/_tab-year.vue';
import TabGenres from '@/views/blocks/extended-search-dialog/_tab-genres.vue';
import TabTranslations from '@/views/blocks/extended-search-dialog/_tab-translations.vue';
import TabResolutions from '@/views/blocks/extended-search-dialog/_tab-resolutions.vue';
import TabCertificates from '@/views/blocks/extended-search-dialog/_tab-certificates.vue';
import TabRatings from '@/views/blocks/extended-search-dialog/_tab-ratings.vue';

export default {
  name: 'AppHeaderFilters',

  components: {
    Badge,
    AppTabs,
    AppTab,
    TabCountries,
    TabYear,
    TabGenres,
    TabTranslations,
    TabResolutions,
    TabCertificates,
    TabRatings,
  },

  data() {
    return {
      filtersTabsUUID: 'filters',
      isContentFiltersOpened: false,
    };
  },

  computed: {
    ...mapState('route', {
      queryParams: state => state.query,
    }),

    ...mapGetters('content', [
      'advancedSearchResultsCount',
      'activeFiltersCount'
    ]),

    searchText() {
      return this.queryParams && this.queryParams.q;
    },

    allFiltersCount() {
      return this.activeFiltersCount.reduce((acc, value) => acc + value);
    },
  },

  methods: {
    ...mapMutations('ui/tabs', {
      setActiveTab: 'SET_ACTIVE_TAB',
    }),

    showResults() {
      // window.scrollTo({
      //   top: document.getElementById('content').getBoundingClientRect().top,
      //   behavior: 'smooth',
      // });

      this.closeContentFilters();
      this.$router.push({ name: 'results', query: { ...this.$route.query }});
    },

    closeContentFilters() {
      this.isContentFiltersOpened = false;
    },

    updateSearchText(event) {
      const { value } = event.target;
      let query = Object.assign({}, this.queryParams);

      if (value) {
        query = {
          ...query,
          q: value,
        }
      } else {
        delete query.q;
      }

      this.$router.replace({ query });
    },

    resetFilters() {
      this.$router.replace({ query: null });
      this.closeContentFilters();
      this.setActiveTab({
        uuid: this.filtersTabsUUID,
        id: 0,
      });
    },
  }
}
</script>

<style lang="scss">
#search-icon-more {
  .-search-icon {
    &__svg {
      &-arrow {
        transform: translate(5px, -21px);
        transition: all .3s ease;
      }

      &-hmbr {
        transform: translate(13px, -21px);
      }
    }

    &__path {
      &-arrow {
        fill: var(--input-color);
      }

      &-hmbr {
        fill: var(--input-color);
      }
    }
  }

  &.opened {
    .-search-icon__svg-arrow {
      transform: translate(5px, -21px) rotate(180deg);
    }
  }
}
</style>
