<template>
  <transition name="slidedown">
    <nav id="mobile-navigation-pro" v-if="isActive">
      <ul id="mobile-menu-pro">
        <li
          v-for="item in menuItems"
          :key="item.alias"
        >
          <router-link :to="{ name: item.route }">
            <span :class="item.icon"></span>
            {{ $t(`global.${item.alias}`) }}
          </router-link>
        </li>

        <!-- <li>
          <a href="#!">
            <i class="far fa-bell"></i>
            <span class="user-notification-count">3</span>
            {{ $t('global.notifications') }}
          </a>
        </li> -->
      </ul>
      <div class="clearfix"></div>
      
      <div id="search-mobile-nav-pro">
        <svg class="-search-mobile-icon__svg" xmlns="http://www.w3.org/2000/svg" width="37.065" height="20">
          <path class="-search-mobile-icon__path" d="M18.252 19.518l-2.913-3.252A9.267 9.267 0 115.659.728a9.267 9.267 0 0111.556 13.3l3.2 3.577a1.425 1.425 0 01-.124 2.026 1.461 1.461 0 01-2.047-.12zM4.024 4.024a7.413 7.413 0 0010.484 10.484A7.413 7.413 0 004.024 4.024zM30.579 16.68H22.61l-2.49-2.78h10.46v2.78zM20.7 11.119a11.721 11.721 0 00.147-1.853c0-.309-.012-.62-.036-.927h16.254v2.779H20.7zm-5.573-3.243H13.2A4.177 4.177 0 009.266 5.1a4.126 4.126 0 00-1.853.433v-2a6.028 6.028 0 017.715 4.342zm5.117-2.316a11.561 11.561 0 00-1.38-2.78h18.2v2.78h-16.82z"/>
        </svg>

        <input
          type="text"
          autocomplete="off"
          aria-label="Search"
          :placeholder="$t('global.search-placeholder')"
          :value="searchText"
          @input="updateSearchText"
          @keyup.enter="showResults" 
        >
      </div>
    </nav>
  </transition>
</template>

<script>
import { mapState } from 'vuex';
import { MENU_ITEMS } from '@/config';

export default {
  name: 'AppHeaderMobileNavigation',

  props: {
    isActive: {
      type: Boolean,
      required: true,
    },
  },

  emits: [
    'show:results',
  ],

  data() {
    return {
      menuItems: MENU_ITEMS
    }
  },

  computed: {
    ...mapState('route', {
      queryParams: state => state.query,
    }),

    searchText() {
      return this.queryParams && this.queryParams.q;
    },
  },

  methods: {
    showResults() {
      this.$emit('show:results');
      this.$router.push({ name: 'results', query: { ...this.$route.query }});
    },

    updateSearchText(event) {
      const { value } = event.target;
      let query = Object.assign({}, this.queryParams);

      if (value) {
        query = {
          ...query,
          q: value,
        }
      } else {
        delete query.q;
      }

      this.$router.replace({ query });
    },
  }
};
</script>

<style lang="scss">
.-search-mobile-icon {
  &__svg {
    position: absolute;
    top: 27px;
    left: 37px;
  }

  &__path {
    fill: var(--input-color);
  }
}
</style>