<template>
  <div :class="['-theme-switcher', { 'is-checked': isChecked }]">
    <div class="-theme-switcher__inner">
      <span class="icon-Half-Moon"></span>
      <input
        id="switch-theme"
        type="checkbox"
        class="-theme-switcher__input"
        v-model="isChecked"
        @change="toggleTheme"
      />
      <label class="-theme-switcher__label" for="switch-theme"></label>
      <span class="icon-Sun"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppHeaderThemeSwitcher',

  data() {
    return {
      isChecked: document.documentElement.className === 'theme-light',
    }
  },

  methods: {
    toggleTheme(event) {
      if (event.target.checked) {
        this.$_setTheme('theme-light');
      } else {
        this.$_setTheme('theme-dark');
      }
    }
  },
}
</script>

<style lang="scss">
.-theme-switcher {
  float: right;
  position: relative;
  padding: 32px 30px 33px 30px;
  width: 150px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-content: center;

    & * {
      margin: auto;
    }
  }

  & [class^=icon-] {
    color: var(--dropdown-color);
    font-weight: bold;
  }

  &__input {
    outline: 0;
    user-select: none;
    display: inline-block;
    position: absolute;
    opacity: 0;
    vertical-align: baseline;
  }

  &__label {
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 3rem;
      height: 1.5rem;
      border: 0.1rem solid var(--dropdown-color);
      border-radius: 24px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
      width: 1rem;
      height: 1rem;
      transform: translate3d(0, 0, 0);
      transition: all 0.25s ease-out;
      background-color: var(--dropdown-color);
      border-radius: 50%;
    }
  }

  &.is-checked {
    .-theme-switcher__label::after {
      left: 1.625rem;
    }
  }

  &__inner:hover {
    [class^=icon-] {
      color: var(--primary-color);
    }

    .-theme-switcher__label::before {
      border-color: var(--primary-color);
    }

    .-theme-switcher__label::after {
      background-color: var(--primary-color);
    }
  }
}
</style>
