<template>
  <div
    id="header-user-notification"
    :class="['hide', { active: isUserNotificationsOpened }]"
    v-click-outside="closeUserNotifications"
  >
    <div
      id="header-user-notification-click"
      class="noselect"
      @click="isUserNotificationsOpened = !isUserNotificationsOpened"
    >
      <i class="far fa-bell"></i>
      <span class="user-notification-count">3</span>
    </div>
    <div id="header-user-notification-menu">
      <h3>{{ $t('global.notifications') }}</h3>
      <div id="header-notification-menu-padding">
          <ul id="header-user-notification-list">
            <li><a href="#!"><img src="images/demo/user-profile-2.jpg" alt="Profile">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. <div class="header-user-notify-time">21 hours ago</div></a></li>
            <li><a href="#!"><img src="images/demo/user-profile-3.jpg" alt="Profile">Donec vitae lacus id arcu molestie mollis. <div class="header-user-notify-time">3 days ago</div></a></li>
            <li><a href="#!"><img src="images/demo/user-profile-4.jpg" alt="Profile">Aenean vitae lectus non purus facilisis imperdiet. <div class="header-user-notify-time">5 days ago</div></a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'AppHeaderUserNotifications',

  data() {
    return {
      isUserNotificationsOpened: false,
    }
  },

  methods: {
    closeUserNotifications() {
      this.isUserNotificationsOpened = false;
    }
  }
}
</script>