<template>
  <modal-sign-in v-if="!$_user" />

  <div
    v-if="$_user"
    id="header-user-profile"
    :class="['hide', { active: isProfileMenuOpened }]"
    v-click-outside="closeProfileMenu"
  >
    <div
      id="header-user-profile-click"
      class="noselect"
      @click="isProfileMenuOpened = !isProfileMenuOpened"
    >
      <img v-if="$_user && $_user.avatar" :src="$_user.avatar" alt="">
      <span v-else>
        <i class="fas fa-user-tie"></i>
      </span>
      <div id="header-username">{{ $_user.displayName }}</div>
      <i :class="['fas fa-angle-down', { 'is-opened': isProfileMenuOpened }]"></i>
    </div>
    <div id="header-user-profile-menu">
      <ul>
        <li>
          <router-link :to="{ name: 'profile' }">
            <span class="icon-User"></span>
            {{ $t('block.menu.my-profile') }}
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'settings' }">
            <span class="icon-Gears"></span>
            {{ $t('block.menu.settings') }}
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'support' }">
            <span class="icon-Life-Safer"></span>
            {{ $t('block.menu.support') }}
          </router-link>
        </li>
        <li>
          <a href="#" @click="signOut">
            <span class="icon-Power-3"></span>
            {{ $t('block.menu.sign-out') }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import ModalSignIn from '@/views/blocks/modal/sign-in.vue';

export default {
  name: 'AppHeaderUserProfile',

  components: {
    ModalSignIn,
  },

  data() {
    return {
      isProfileMenuOpened: false,
    };
  },

  methods: {
    ...mapActions('auth', {
      signOut: 'SIGN_OUT',
    }),

    closeProfileMenu() {
      this.isProfileMenuOpened = false;
    }
  }
}
</script>

<style lang="scss">
.-sin-in-button {
  margin-right: 40px;

  @media only screen and (max-width: 959px) {
    margin-right: 0;
  }
}

#header-user-profile-click {
  .fas {
    transition: transform .3s ease;

    &.is-opened {
      transform: rotate(180deg);
    }
  }

  span {
    width: 40px;
    border-radius: 50px;
    margin-right: 6px;
    font-size: 1.3rem;
    height: 40px;
    background-color: #f3f3f3;
    color: #ccc;
    display: inline-block;
    text-align: center;

    .fas {
      margin: 0;
    }
  }
}
</style>
