<template>
  <header
    id="videohead-pro"
    :class="['sticky-header', { 'active-mobile-icon-pro': isMobileNavigationActive }]"
  >
    <div id="video-logo-background">
      <router-link :to="{ name: 'home' }">
        <img src="../../../assets/img/logo-video-layout.png" :alt="$_projectName">
      </router-link>
    </div>

    <app-filters v-if="mode ==='default'" />

    <div
      id="mobile-bars-icon-pro"
      class="noselect"
      @click="isMobileNavigationActive = !isMobileNavigationActive"
    >
      <i class="fas fa-bars"></i>
    </div>

    <user-profile v-if="mode ==='default'" />

    <theme-switcher />
    
    <!-- <user-notifications /> -->

    <div class="clearfix"></div>

    <mobile-navigation
     :is-active="isMobileNavigationActive"
     @show:results="isMobileNavigationActive = false"
    />
  </header>
</template>

<script>
import { mapState } from 'vuex';
import AppFilters from './_filters.vue';
import UserProfile from './_user-profile.vue';
import ThemeSwitcher from './_theme-switcher.vue';
// import UserNotifications from './_user-notifications.vue';
import MobileNavigation from './_mobile-navigation.vue';

export default {
  name: 'AppHeader',

  components: {
    AppFilters,
    UserProfile,
    ThemeSwitcher,
    // UserNotifications,
    MobileNavigation,
  },

  props: {
    mode: {
      type: String,
      required: false,
      default: 'default',
    }
  },

  data() {
    return {
      isNavbarActive: false,
      isMobileNavigationActive: false,
    }
  },

  computed: {
    ...mapState('auth', ['isSingOuting']),
  },
}
</script>
