<template>
  <main id="col-main">
    <div class="dashboard-container">
      <ul class="dashboard-sub-menu">
        <li>
          <router-link :to="{ name: 'settings' }">{{ $t('page.payments.account-settings') }}</router-link>
        </li>
        <li class="current">
          <span>{{ $t('page.payments.payments-info') }}</span>
        </li>
      </ul>

      <div class="container-fluid">
        <construction />
      </div>
    </div>
  </main>
</template>

<script>
import Construction from '@/views/blocks/construction.vue';

export default {
  components: {
    Construction,
  }
}
</script>