<template>
  <div class="navbar-item has-dropdown is-hoverable">
    <router-link
      :class="['navbar-link', { 'is-active': isActive }]"
      :to="{ name: routeName }"
    >
      {{ $t(`global.${routeName}`) }}
    </router-link>
    <div class="navbar-dropdown">

      <router-link
        v-for="genre in genresForShow"
        :key="genre"
        class="navbar-item"
        :to="{ name: routeName, query: { genres: genre }}"
      >
        {{ $t(`global.genres.${genre}`) }}
      </router-link>

      <hr class="navbar-divider" v-if="isNotAllGenresShown">
      <a v-if="isNotAllGenresShown" class="navbar-item" href="#" @click.prevent="showMore">
        {{ $t('block.menu.show-more-genres') }}
      </a>
    </div>
  </div>
</template>

<script>
import { GENRES } from '@/config';

export default {
  name: 'AppMenuHasDropdownItem',

  props: {
    routeName: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      genres: Object.freeze(GENRES),
      shownGenresCount: 5,
    };
  },

  computed: {
    isActive() {
      return this.$route.name === this.routeName || this.$route.params.type === this.routeName;
    },

    genresForShow() {
      return this.genres.slice(0, this.shownGenresCount);
    },

    isNotAllGenresShown() {
      return this.shownGenresCount < this.genres.length;
    },
  },

  methods: {
    showMore() {
      this.shownGenresCount += 5;
    }
  }
};
</script>
