<template>
  <div class="navbar-item has-dropdown is-hoverable is-mega" @mouseover.once="fetchAll">
    <div class="navbar-link flex">
      {{ $t('global.newly-translated') }}
    </div>
    <div class="navbar-dropdown">
      <div class="container is-fluid">
        <div class="columns">

          <latest-item
            v-for="item in latest"
            :key="item.title"
            :title="item.title"
            :type="item.type"
            :items="item.items"
            :is-loading="item.isLoading"
          />

        </div>
      </div>

      <hr class="navbar-divider">
      <div class="navbar-item">
        <div class="navbar-content">
          <div class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <strong>{{ $t('global.stay-up-to-date') }}</strong>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <a class="button bd-is-rss is-small" href="#">
                  <span class="icon is-small">
                    <i class="fa fa-rss"></i>
                  </span>
                  <span>{{ $t('global.subscribe-to-newly-translated') }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import LatestItem from './_latest-item.vue';

export default {
  name: 'AppMenuLatest',

  components: {
    LatestItem
  },

  computed: {
    ...mapState('content/movies', {
      isAllMoviesFetching: state => state.all.isFetchingProcess,
    }),

    ...mapState('content/series', {
      isAllSeriesFetching: state => state.all.isFetchingProcess,
    }),

    ...mapState('content/documentaries', {
      isAllDocumentariesFetching: state => state.all.isFetchingProcess,
    }),

    ...mapState('content/cartoons', {
      isAllCartoonsFetching: state => state.all.isFetchingProcess,
    }),

    ...mapGetters('content/movies', {
      latestMovies: 'latest',
    }),

    ...mapGetters('content/series', {
      latestSeries: 'latest',
    }),

    ...mapGetters('content/documentaries', {
      latestDocumentaries: 'latest',
    }),

    ...mapGetters('content/cartoons', {
      latestCartoons: 'latest',
    }),

    latest() {
      return [
        {
          title: this.$t('global.movies'),
          type: 'movies',
          items: this.latestMovies,
          isLoading: this.isAllMoviesFetching,
        },
        {
          title: this.$t('global.series'),
          type: 'series',
          items: this.latestSeries,
          isLoading: this.isAllSeriesFetching,
        },
        {
          title: this.$t('global.documentaries'),
          type: 'documentaries',
          items: this.latestDocumentaries,
          isLoading: this.isAllDocumentariesFetching,
        },
        {
          title: this.$t('global.cartoons'),
          type: 'cartoons',
          items: this.latestCartoons,
          isLoading: this.isAllCartoonsFetching,
        },
      ];
    },
  },

  methods: {
    ...mapActions('content/movies', {
      fetchAllMovies: 'FETCH_ALL',
    }),

    ...mapActions('content/series', {
      fetchAllSeries: 'FETCH_ALL',
    }),

    ...mapActions('content/documentaries', {
      fetchAllDocumentaries: 'FETCH_ALL',
    }),

    ...mapActions('content/cartoons', {
      fetchAllCartoons: 'FETCH_ALL',
    }),

    fetchAll() {
      this.fetchAllMovies();
      this.fetchAllSeries();
      this.fetchAllDocumentaries();
      this.fetchAllCartoons();
    }
  }
}
</script>