<template>
  <div class="column">
    <h1 class="title is-6 is-mega-menu-title">{{ title }}</h1>

    <div class="fa-2x" v-if="isLoading">
      <i class="fas fa-cog fa-spin"></i>
    </div>

    <router-link
      v-for="item in items"
      :key="item.id"
      class="navbar-item"
      :to="{ name: `${type}-item`, params: { id: item.id }}"
    >
      <div class="navbar-content">
        <p>{{ item.title }}</p>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'AppMenuLatestItem',

  props: {
    title: {
      type: String,
      required: true,
    },

    type: {
      type: String,
      required: true,
    },

    items: {
      type: Array,
      required: true,
    },

    isLoading: {
      type: Boolean,
      required: true,
    }
  }
}
</script>