<template>
  <component :is="componentName" route-name="series"></component>
</template>

<script>
import HasDropdown from './__has-dropdown.vue';

export default {
  name: 'AppMenuSeries',

  components: {
    HasDropdown,
  },

  data() {
    return {
      componentName: 'HasDropdown',
    };
  },
};
</script>
