<template>
  <app-menu-latest />

  <app-menu-movies />

  <app-menu-series />

  <router-link
    :class="['navbar-item', { 'is-active': $route.name === 'documentaries' }]"
    :to="{ name: 'documentaries' }"
  >
    {{ $t('global.documentaries') }}
  </router-link>

  <router-link
    :class="['navbar-item', { 'is-active': $route.name === 'cartoons' }]"
    :to="{ name: 'cartoons' }"
  >
    {{ $t('global.cartoons') }}
  </router-link>

  <router-link
    :class="['navbar-item', { 'is-active': $route.name === 'collections' }]"
    :to="{ name: 'collections' }"
  >
    {{ $t('global.collections') }}
  </router-link>

  <!-- <router-link
    :class="['navbar-item', { 'is-active': $route.name === 'persons' }]"
    :to="{ name: 'persons' }"
  >
    {{ $t('global.persons') }}
  </router-link> -->
</template>

<script>
import AppMenuLatest from './_latest.vue';
import AppMenuMovies from './_movies.vue';
import AppMenuSeries from './_series.vue';

export default {
  name: 'AppMenu',

  components: {
    AppMenuLatest,
    AppMenuMovies,
    AppMenuSeries,
  }
}
</script>
