<template>
  <section class="section">
    <div class="container">
      <div class="content watch-content__bottom-meta">
        <div class="watch-content__description">
          <p>{{ content.description }}</p>
        </div>
        
        <div class="watch-content__other-meta">
          <p v-if="content.genres">{{ $t("global.meta.genre") }} {{ $_filters.genre(content.genres) }}</p>
          <p v-if="content.stars">{{ $t("global.meta.stars") }} {{ content.stars }}</p>
          <p v-if="content.producers">{{ $t("global.meta.producers") }} {{ content.producers.join(', ') }}</p>
          <p v-if="content.directors">{{ $t("global.meta.directors") }} {{ content.directors.join(', ') }}</p>
          <p v-if="content.writers">{{ $t("global.meta.writers") }} {{ content.writers.join(', ') }}</p>
          <p v-if="content.cinematographers">{{ $t("global.meta.cinematographers") }} {{ content.cinematographers.join(', ') }}</p>
          <p v-if="content.productionDesigners">{{ $t("global.meta.production-designers") }} {{ content.productionDesigners.join(', ') }}</p>
          <p v-if="content.composers">{{ $t("global.meta.composers") }} {{ content.composers.join(', ') }}</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'MetaBottom',

  props: {
    content: {
      type: Object,
      required: true,
    }
  },
}
</script>

<style lang="scss">
.watch-content {
  &__bottom-meta {
    display: flex;
    font-size: .9em;
    justify-content: space-between;
  }

  &__description,
  &__other-meta {
    flex: 0 0 48%;
  }
}
</style>
