<template>
  <div class="watch-content__middle-meta">
    <p class="watch-content__tagline" v-if="content.tagline"><i class="fas fa-quote-left"></i> {{ content.tagline }}</p>

    <p v-if="content.countries">
      <i class="fas fa-globe"></i>
      {{ $_filters.country(content.countries) }}
    </p>

    <p v-if="content.year">
      <i class="fas fa-calendar-alt"></i>
      {{ content.year }}
    </p>

    <p>
      <i class="fas fa-star"></i> {{ $_filters.rating(content) }}
    </p>

    <p v-if="content.duration">
      <i class="fas fa-stopwatch"></i> {{ $_filters.duration(content.duration) }}
    </p>

    <p v-if="content.translations">
      <i class="fas fa-language"></i> {{ $_filters.translation(content.translations) }}
    </p>

    <p>
      <span class="watch-content__resolutions" v-if="content.resolutions">
        {{ $_filters.resolution(content.resolutions) }}
      </span>
      <span class="watch-content__certificate" v-if="content.certificate">
        {{ $_filters.certificate(content.certificate) }}
      </span>
    </p>
  </div>
</template>

<script>
export default {
  name: 'MetaMiddle',

  props: {
    content: {
      type: Object,
      required: true,
    }
  },
}
</script>

<style lang="scss">
@import "bulma/sass/utilities/_all";

.watch-content {
  &__middle-meta {
    flex: 0 0 35%;
    font-size: .9em;
    min-height: 350px;
    color: #fff;
    padding-right: 2rem;

    @include until(1215px) {
      flex: 0 0 40%;
    }

    @include until(1025px) {
      flex: 0 0 45%;
    }

    @include until(768px) {
      flex: 0 0 100%;
      padding-right: 0;
      padding-top: 2rem;
    }
  }

  &__resolutions,
  &__certificate {
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: .3rem;
  }
}
</style>
