<template>
  <section class="section">
    <div class="container">
      <div class="content -title-by-addons">
        <h1>
          <span class="watch-content__title" v-if="content.title">{{ content.title }}</span>
          <span class="watch-content__original-title" v-if="content.originalTitle">({{ content.originalTitle }})</span>
        </h1>

        <extended-search-dialog-opener />

      </div>
    </div>
  </section>
</template>

<script>
import ExtendedSearchDialogOpener from '@/views/blocks/extended-search-dialog/extended-search-dialog-opener.vue';

export default {
  name: 'MetaTop',

  props: {
    content: {
      type: Object,
      required: true,
    }
  },

  components: {
    ExtendedSearchDialogOpener,
  },
}
</script>

<style lang="scss">
.watch-content {
  &__title {
    margin-right: .3rem;
  }

  &__original-title {
    font-size: .5em;
    margin-right: .3rem;
  }
}
</style>
