<template>
  <content-sorter v-if="list.length > 0" />

  <div class="row" v-if="list.length > 0">
    <div
      v-for="item in list"
      :key="item.id"
      class="col-12 col-md-6 col-lg-4 col-xl-3"
    >
      <content-card
        :content="item"
        :content-type="contentType"
        class="-content-list-item"
        @select:episode="(evt) => $emit('select:episode', evt)"
      />
    </div>
  </div>

  <not-found v-else />
</template>

<script>
import ContentCard from '@/views/blocks/content/card.vue';
import ContentSorter from '@/views/blocks/content/sorter.vue';
import NotFound from '@/views/blocks/content/not-found.vue';

export default {
  props: {
    list: {
      type: Array,
      required: true,
    },

    contentType: {
      type: String,
      required: true,
    },
  },

  components: {
    ContentCard,
    ContentSorter,
    NotFound,
  },
}
</script>
