<template>
  <main id="col-main">
    <app-loader v-if="isFetchingProcess" />

    <section class="dashboard-container" v-if="!isFetchingProcess">
      <content-title :title="$t('page.results.title')" />

      <app-tabs uuid="results" :selected-tab-id="0" :badges="foundContentsCount">
        <app-tab :title="$t('global.movies')" :tab-id="0">
          <tab-content
            :list="moviesAdvancedSearchResults"
            content-type="movies"
          />
        </app-tab>

        <app-tab :title="$t('global.series')" :tab-id="1">
          <tab-content
            :list="seriesAdvancedSearchResults"
            content-type="series"
          />
        </app-tab>

        <app-tab :title="$t('global.documentaries')" :tab-id="2">
          <tab-content
            :list="documentariesAdvancedSearchResults"
            content-type="documentaries"
          />
        </app-tab>

        <app-tab :title="$t('global.cartoons')" :tab-id="3">
          <tab-content
            :list="cartoonsAdvancedSearchResults"
            content-type="cartoons"
          />
        </app-tab>

        <app-tab :title="$t('global.collections')" :tab-id="4">
          <tab-content
            :list="collectionsAdvancedSearchResults"
            content-type="collections"
          />
        </app-tab>
      </app-tabs>
    </section>
  </main>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex';
import AppLoader from '@/views/blocks/loader.vue';
import AppTabs from '@/views/blocks/tabs.vue';
import AppTab from '@/views/blocks/tab.vue';
import ContentTitle from '@/views/blocks/content/title.vue';
import TabContent from './_tab-content.vue';

export default {
  name: 'ResultsPage',

  components: {
    AppTabs,
    AppTab,
    AppLoader,
    ContentTitle,
    TabContent,
  },

  computed: {
    ...mapGetters('content', [
      'moviesAdvancedSearchResults',
      'seriesAdvancedSearchResults',
      'documentariesAdvancedSearchResults',
      'cartoonsAdvancedSearchResults',
      'collectionsAdvancedSearchResults',
      // 'personsAdvancedSearchResults',
    ]),

    ...mapState('content/movies', {
      isFetchingProcess: state => state.all.isFetchingProcess,
    }),

    foundContentsCount() {
      return [
        this.moviesAdvancedSearchResults.length,
        this.seriesAdvancedSearchResults.length,
        this.documentariesAdvancedSearchResults.length,
        this.cartoonsAdvancedSearchResults.length,
        this.collectionsAdvancedSearchResults.length,
      ];
    },
  },

  methods: {
    ...mapActions('content/movies', {
      fetchAllMovies: 'FETCH_ALL',
    }),

    ...mapActions('content/series', {
      fetchAllSeries: 'FETCH_ALL',
    }),

    ...mapActions('content/documentaries', {
      fetchAllDocumentaries: 'FETCH_ALL',
    }),

    ...mapActions('content/cartoons', {
      fetchAllCartoons: 'FETCH_ALL',
    }),

    ...mapActions('content/collections', {
      fetchAllCollections: 'FETCH_ALL',
    }),

    // ...mapActions('content/persons', {
    //   fetchAllPersons: 'FETCH_ALL',
    // }),
  },

  created() {
    this.fetchAllMovies();
    this.fetchAllSeries();
    this.fetchAllDocumentaries();
    this.fetchAllCartoons();
    this.fetchAllCollections();
    // this.fetchAllPersons();
  },
}
</script>

