<template>
  <button
    v-if="!$_user"
    class="btn btn-header-pro noselect -sin-in-button"
    role="button"
    @click="openSignInModal"
  >
    {{ $t('global.sign-in') }}
  </button>

  <teleport to="body">
    <div v-if="isModalOpened" class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true">
      <button
        type="button"
        class="close float-close-pro"
        data-dismiss="modal"
        aria-label="Close"
        @click="closeSignInModal"
      >
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header-pro">
            <h2>Қош келдіңіз</h2>
            <h6>Алпауытты пайдалануды жалғастыру үшін аккаунтіңізге кіріңіз</h6>
          </div>
          <div class="modal-body-pro social-login-modal-body-pro">
            <div class="registration-social-login-container">

              <form @submit.prevent="submitForm" method="post">
                <app-input-group
                  id="userEmail"
                  name="email"
                  icon="fas fa-envelope"
                  type="email"
                  inputmode="email"
                  :label="$t('form.email.label')"
                  :placeholder="$t('form.email.placeholder')"
                  :is-disabled="isFormProcessing"
                  :is-autofocused="true"
                  :is-invalid="v$.email.$invalid"
                  :invalid-texts="emailErrorMessages"
                  v-model:value="email"
                  @input:input="resetValidation('email')"
                />

                <app-input-group
                  id="userPassword"
                  name="password"
                  autocomplete="password"
                  icon="fas fa-lock"
                  :type="passwordType"
                  :label="$t('form.password.label')"
                  :placeholder="$t('form.password.placeholder')"
                  :is-disabled="isFormProcessing"
                  :is-invalid="v$.password.$invalid"
                  :has-right-button="true"
                  :right-button-icon="passwordShowerIcon"
                  :invalid-texts="passwordErrorMessages"
                  v-model:value="password"
                  @click:right-button="isPasswordShowed = !isPasswordShowed"
                  @input:input="resetValidation('password')"
                />

                <div class="form-group">
                  <div class="alert alert-danger" v-if="formErrorsMessages.length">
                    <p v-for="(item, key) in formErrorsMessages" :key="key">{{ item }}</p>
                  </div>
                </div>

                <app-button
                  :is-disabled="isFormProcessing || formErrorsMessages.length > 0 || v$.$invalid"
                  :is-loading="isFormProcessing"
                  :text="$t('form.button.sign-in')"
                  type="submit"
                  inner-class="btn-green-pro btn-display-block"
                />

                <div class="container-fluid">
                  <div class="row no-gutters">
                    <div class="col checkbox-remember-pro"><input type="checkbox" id="checkbox-remember"><label for="checkbox-remember" class="col-form-label">Мені жаттап ал</label></div>
                    <div class="col forgot-your-password"><a href="#!">Құпиясөзді ұмыттыңыз ба?</a></div>
                  </div>
                </div>
            
              </form>
            
              <div class="registration-social-login-or">немесе</div>
              
            </div>
            
            <div class="registration-social-login-options">
            <h6>Әлеуметтік желі арқылы кіріңіз</h6>
            <div class="social-icon-login facebook-color"><i class="fab fa-facebook-f"></i> Facebook</div>
            <div class="social-icon-login twitter-color"><i class="fab fa-twitter"></i> Twitter</div>
            <div class="social-icon-login google-color"><i class="fab fa-google-plus-g"></i> Google</div>
            </div>
            
            <div class="clearfix"></div>

          </div>
        
          <button class="not-a-member-pro" @click="redirectToSignUpPage" type="button">
            Бізде тіркелмегенбедіңіз? <span>Қазыр қосылыңыз!</span>
          </button>
        </div>
      </div>
    </div>

    <div v-if="isModalOpened" class="modal-backdrop fade show"></div>
  </teleport>
</template>

<script>
import useVuelidate from '@vuelidate/core';
import { required, email, minLength, maxLength } from '@vuelidate/validators';
import SignInMixin from '@/utils/mixins/sign-in.js';

const EMAIL_MIN_LENGTH = 6;
const EMAIL_MAX_LENGTH = 128;
const PASSWORD_MIN_LENGTH = 6;
const PASSWORD_MAX_LENGTH = 32;

export default {
  name: 'SignInModal',

  mixins: [SignInMixin],

  // TODO: Установку vuelidate надо перенести в миксин, когда его исправят
  setup () {
    return { v$: useVuelidate() }
  },

  // TODO: Валидации надо перенести в миксин, когда его исправят
  validations() {
    return {
      email: {
        required,
        email,
        minLength: minLength(EMAIL_MIN_LENGTH),
        maxLength: maxLength(EMAIL_MAX_LENGTH),
      },
      password: {
        required,
        minLength: minLength(PASSWORD_MIN_LENGTH),
        maxLength: maxLength(PASSWORD_MAX_LENGTH),
      },
    };
  },

  data() {
    return { 
      isModalOpened: false
    }
  },

  methods: {
    openSignInModal() {
      document.body.classList.add('modal-open');
      this.isModalOpened = true;
    },

    closeSignInModal() {
      document.body.classList.remove('modal-open');
      this.isModalOpened = false;
    },
  },
}
</script>
