<template>
  <span class="-badge">{{ value }}</span>
</template>

<script>
export default {
  props: {
    value: {
      type: [String, Number],
      required: false,
    }
  }
}
</script>

<style lang="scss">
.-badge {
  background-color: var(--btn-bg-primary-color);
  right: -3px;
  top: -3px;
  color: #fff;
  font-size: .65rem;
  height: 14px;
  line-height: 14px;
  min-width: 14px;
  padding: 0 .2rem;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  border-radius: 14px;
}
</style>