<template>
  <section class="-breadcrumb">
    <div class="container">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>
            <router-link :to="{ name: 'home' }">
              <i class="fas fa-home -breadcrumb__home"></i>
            </router-link>
          </li>
          <li
            v-for="item in items" :key="item.name"
            :class="{ 'is-active': item.isActive }"
          >
            <router-link :to="item.link">
              {{ item.label }}
            </router-link>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'AppBreadcrumb',

  computed: {
    ...mapState('content', {
      selfTitle(state) {
        return state[this.currentRouteParentName]?.current?.item?.title;
      },
    }),

    currentRouteParentName() {
      return this.$route.meta.breadcrumb[0];
    },

    items() {
      const { breadcrumb } = this.$route.meta;

      if (breadcrumb && Array.isArray(breadcrumb)) {
        return this.$route.meta.breadcrumb.map((item) => {
          if (item === '__self') {
            return {
              name: this.$route.name,
              label: this.selfTitle,
              isActive: true,
              link: {
                name: this.$route.name,
                params: this.$route.params,
              }
            }
          }

          return {
            name: item,
            label: this.$t(`global.${item}`),
            isActive: this.$route.name === item,
            link: {
              name: item,
            }
          };
        });
      }

      return [];
    }
  }
}
</script>

<style lang="scss">
.-breadcrumb {
  padding: 1rem 1.5rem 0;

  &__home.fas {
    line-height: 1.5rem;
  }
}
</style>
