<template>
  <app-button
    :text="text"
    color="primary"
    type="submit"
  />
</template>

<script>
import AppButton from '@/views/blocks/button.vue';

export default {
  name: 'ButtonSubmit',

  props: { 
    text: {
      type: String,
      required: false,
      default: ''
    }
  },

  components: {
    AppButton,
  }
}
</script>