<template>
  <div class="form-group">
    <button :class="`btn ${innerClass}`" :type="type" :disabled="isDisabled">
      <span v-if="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{ text }}
    </button>
  </div>
</template>

<script>
export default {
  name: 'AppButton',

  props: {
    isDisabled: {
      type: Boolean,
      required: false,
    },

    isLoading: {
      type: Boolean,
      required: false,
    },

    text: {
      type: String,
      required: true,
    },

    type: {
      type: String,
      required: false,
      default: 'button',
    },

    innerClass: {
      type: String,
      required: false,
      default: '',
    },
  }
}
</script>