<template>
  <div class="-button-group form-group">
    <button
      type="submit"
      class="btn btn-green-pro"
      :disabled="isPrimaryDisabled"
      @click="$emit('click:primary')"
    >
      <span v-if="isPrimaryLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span>{{ primaryText }}</span>
    </button>

    <button
      class="btn btn-secondary"
      type="button"
      :disabled="isSecondaryDisabled"
      @click="$emit('click:secondary')"
    >
      {{ secondaryText }}
    </button>

    <button
      v-if="tertiaryText"
      class="btn -button-group__tertiary"
      type="button"
      @click="$emit('click:tertiary')"
    >
      {{ tertiaryText }}
    </button>
  </div>
</template>

<script>
export default {
  name: 'ButtonGroup',

  emits: [
    'click:primary',
    'click:secondary',
    'click:tertiary',
  ],

  props: {
    primaryText: {
      type: String,
      required: true,
    },

    isPrimaryDisabled: {
      type: Boolean,
      required: false,
      default: false,
    },

    isSecondaryDisabled: {
      type: Boolean,
      required: false,
      default: false,
    },

    isPrimaryLoading: {
      type: Boolean,
      required: false,
      default: false,
    },

    secondaryText: {
      type: String,
      required: true,
    },

    tertiaryText: {
      type: String,
      required: false,
      default: '',
    },
  }
}
</script>

<style lang="scss">
.-button-group  {
  .btn:not(:last-child) {
    margin-right: 1rem !important;
  }

  &__tertiary {
    line-height: 2.5rem;
  }
}
</style>