<template>
  <div class="field">
    <input class="is-checkradio" id="exampleCheckbox" type="checkbox" name="exampleCheckbox" checked="checked">
    <label for="exampleCheckbox">Check me</label>
  </div>
</template>