<template>
  <section class="section -content-list">

    <slot></slot>

    <div class="container -content-list-container" v-if="list.length">
      <content-card
        v-for="item in list"
        :key="item.id"
        :content="item"
        :content-type="contentType"
        class="-content-list-item"
        @select:episode="(evt) => $emit('select:episode', evt)"
      />
    </div>

    <div class="container" v-else>
      <div class="content">
        <p>{{ $t('block.content-list.not-found') }}</p>
      </div>
    </div>
  </section>
</template>

<script>
import ContentCard from '@/views/blocks/content/card.vue';

export default {
  name: 'ContentList',

  props: {
    list: {
      type: Array,
      required: true,
    },
    contentType: {
      type: String,
      required: true,
    },
  },

  emits: [
    'select:episode',
  ],

  components: {
    ContentCard,
  },
}
</script>

<style lang="scss">
@import "bulma/sass/utilities/_all";

.-content-list {
  &-container {
    display: flex;
    flex-flow: wrap;
  }

  &-item {
    flex: 0 0 calc(20% - 1rem);
    margin: 1rem .5rem;

    @include until(1215px) {
      flex: 0 0 calc(25% - 1rem);
    }

    @include until(1025px) {
      flex: 0 0 calc(33.3333% - 1rem);
    }

    @include until(769px) {
      flex: 0 0 calc(50% - 1rem);
    }
    
    @include until(426px) {
      flex: 0 0 calc(100% - 1rem);
    }
  }
}
</style>
