<template>
  <footer :class="`-footer -footer_mode_${mode}`">
    <div class="row" v-if="mode === 'default'">
      <div class="col-12 col-md-6 col-xl-3">
        <h4 class="heading-extra-margin-bottom">{{ $t('global.sections') }}</h4>
        <ul>
          <li><router-link :to="{ name: 'movies' }">{{ $t('global.movies') }}</router-link></li>
          <li><router-link :to="{ name: 'series' }">{{ $t('global.series') }}</router-link></li>
          <li><router-link :to="{ name: 'documentaries' }">{{ $t('global.documentaries') }}</router-link></li>
          <li><router-link :to="{ name: 'cartoons' }">{{ $t('global.cartoons') }}</router-link></li>
          <li><router-link :to="{ name: 'collections' }">{{ $t('global.collections') }}</router-link></li>
          <!-- <li><router-link :to="{ name: 'persons' }">{{ $t('global.persons') }}</router-link></li> -->
        </ul>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <h4 class="heading-extra-margin-bottom">{{ $t('global.apps') }}</h4>
        <ul>
          <li><router-link :to="{ name: 'apps-smart-tv' }">{{ $t('global.apps-smart-tv') }}</router-link></li>
          <li><router-link :to="{ name: 'apps-ios' }">{{ $t('global.apps-ios') }}</router-link></li>
          <li><router-link :to="{ name: 'apps-android' }">{{ $t('global.apps-android') }}</router-link></li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <h4 class="heading-extra-margin-bottom">{{ $t('global.for-users') }}</h4>
        <ul>
          <li><router-link :to="{ name: 'promotions' }">{{ $t('global.promotions') }}</router-link></li>
          <li><router-link :to="{ name: 'code' }">{{ $t('global.code') }}</router-link></li>
          <li><router-link :to="{ name: 'faq' }">{{ $t('global.faq') }}</router-link></li>
          <li><router-link :to="{ name: 'support' }">{{ $t('global.support') }}</router-link></li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <h4 class="heading-extra-margin-bottom">{{ $t('global.company') }}</h4>
        <ul>
          <li><router-link :to="{ name: 'about-us' }">{{ $t('global.about-us') }}</router-link></li>
          <li><router-link :to="{ name: 'vacancies' }">{{ $t('global.vacancies') }}</router-link></li>
          <li><router-link :to="{ name: 'advertising' }">{{ $t('global.advertising') }}</router-link></li>
          <li><router-link :to="{ name: 'referal-program' }">{{ $t('global.referal-program') }}</router-link></li>
          <li><router-link :to="{ name: 'contacts' }">{{ $t('global.contacts') }}</router-link></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 col-xl-3">
        <ul class="-footer__copyrights">
          <li><a href="#">{{ $t('block.footer.terms-of-use') }}</a>&nbsp;<i class="fas fa-external-link-alt"></i></li>
          <li><a href="#">{{ $t('block.footer.privacy-policy') }}</a>&nbsp;<i class="fas fa-external-link-alt"></i></li>
          <li>{{ $t('block.footer.all-rights-reserved', { companyName }) }}</li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-xl-3 dump"></div>
      <div class="col-12 col-md-6 col-xl-3 dump"></div>
      <div class="col-12 col-md-6 col-xl-3">
        <ul class="-footer__social-media">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-vk"></i></a></li>
          <li><a href="#"><i class="fab fa-telegram"></i></a></li>
          <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
      </div>
      
    </div>
  </footer>
</template>

<script>
import { COMPANY_NAME } from "@/config";

export default {
  name: 'AppFooter',

  data() {
    return {
      companyName: COMPANY_NAME,
    };
  },

  props: {
    mode: {
      type: String,
      required: false,
      default: 'default',
    }
  },
}
</script>

<style lang="scss">
@import "bulma/sass/utilities/_all";
@import "@/assets/css/colors.scss";

.-footer {
  background-color: var(--footer-bg-color);
  padding: 3rem 1.5rem !important;

  &_mode_default {
    margin-left: 160px;
  }

  @media only screen and (min-width: 768px) and (max-width: 959px) {
    margin-left: 0;
  }

  @media only screen and (max-width: 767px) {
    margin-left: 0;
  }

  @media only screen and (max-width: 1199px) {
    .dump {
      display: none;
    }
  }

  &__logo {
    width: 50px;
    height: 50px;
  }

  &__title {
    margin: 1rem 0;
  }

  @include mobile {
    &__bottom {
      display: flex;
      flex-direction: column;

      .column:first-child {
        order: 2;
      }

      .column:last-child {
        order: 1;
      }
    }
  }

  &__copyrights {
    font-size: 12px;
  }

  &__social-media {
    display: flex;
    font-size: 1.75rem;
    line-height: 3.375rem;
    flex-flow: wrap;

    li:not(:last-child) {
      padding-right: .8rem;
    }
  }

  ul {
    list-style: none;
    margin: 0 0 2.4rem;
    padding: 0;
  }
}
</style>
