<template>
  <div class="form-group">
    <label
      v-if="label"
      :for="id"
    >
      {{ label }}
    </label>

    <input
      :class="[
        'form-control',
        { 'is-invalid': isInvalid },
        { 'is-valid': !isInvalid && isValidated },
      ]"
      :id="id"

      :type="type"
      :name="name"
      :autofocus="isAutofocused"
      :autocomplete="autocomplete"

      :disabled="isDisabled || isLoading"
      :inputmode="inputmode"
      :placeholder="placeholder"
      :required="isRequired"

      :value="value"
      @input="handleInput"
      @focus="focusInput"
      @blur="blurInput"
    >
    <small
      v-if="helperText"
      :class="[
        'form-text',
        { 'text-danger': isInvalid },
        { 'text-success': !isInvalid && isValidated },
      ]"
    >
      {{ helperText }}
    </small>
  </div>
</template>

<script>
import { debounce } from 'lodash';

export default {
  name: 'AppInput',

  emits: [
    'update:value',
    'focus:input',
    'blur:input',
  ],

  props: {
    id: {
      type: String,
      required: true,
    },

    value: {
      type: String,
      required: true,
    },

    label: {
      type: String,
      required: false,
    },

    name: {
      type: String,
      required: true,
    },

    type: {
      type: String,
      required: true,
    },

    inputmode: {
      type: String,
      default: 'search',
    },

    helper: {
      type: String,
      required: true,
    },

    placeholder: {
      type: String,
      required: true,
    },

    isAutofocused: {
      type: Boolean,
      default: false,
    },

    autocomplete: {
      type: String,
      default: '',
    },

    isDisabled: {
      type: Boolean,
      default: false,
    },

    isRequired: {
      type: Boolean,
      default: false,
    },

    isLoading: {
      type: Boolean,
      default: false,
    },

    isInvalid: {
      type: Boolean,
      default: false,
    },

    isValidated: {
      type: Boolean,
      default: false,
    },

    invalidText: {
      type: String,
      default: '',
    },
  },

  computed: {
    helperText() {
      if (this.isInvalid) {
        return this.invalidText;
      }

      return this.helper;
    },
  },

  methods: {
    handleInput(event) {
      this.debouncedUpdate(event);
    },

    focusInput() {
      this.$emit('focus:input');
    },

    blurInput() {
      this.$emit('blur:input');
    },
  },

  created() {
    this.debouncedUpdate = debounce((event) => {
      this.$emit('update:value', event.target.value);
    }, 500);
  }
};
</script>
