<template>
  <div class="form-group">
    <label
      v-if="label"
      :for="id"
    >
      {{ label }}
    </label>

    <div class="input-group">
      <div class="input-group-prepend" v-if="icon">
        <span class="input-group-text">
          <i :class="icon"></i>
        </span>
      </div>

      <input
        :class="[
          'form-control',
          { 'is-invalid': isInvalid },
          { 'is-valid': !isInvalid && isValidated },
        ]"
        :id="id"

        aria-label="Username" aria-describedby="basic-addon1"

        :type="type"
        :name="name"
        :autofocus="isAutofocused"
        :autocomplete="autocomplete"

        :disabled="isDisabled || isLoading"
        :inputmode="inputmode"
        :placeholder="placeholder"

        :value="value"
        @change="handleChange"
        @input="handleInput"
        @focus="handleFocus"
        @blur="handleBlur"
      >

      <div class="input-group-append" v-if="hasRightButton">
        <button
          :disabled="isDisabled || isLoading"
          type="button"
          class="btn btn-outline-secondary"
          @click.prevent="$emit('click:right-button')"
        >
          <i :class="rightButtonIcon"></i>
        </button>
      </div>
    </div>

    <small
      v-if="helperText"
      v-html="helperText"
      :class="[
        'form-text',
        { 'text-danger': isInvalid },
        { 'text-success': !isInvalid && isValidated },
      ]"
    >
    </small>
  </div>
</template>

<script>
import { debounce } from 'lodash';

export default {
  name: 'AppInputGroup',

  emits: [
    'update:value',
    'change:input',
    'input:input',
    'focus:input',
    'blur:input',
    'click:right-button',
  ],

  props: {
    id: {
      type: String,
      required: true,
    },

    name: {
      type: String,
      required: true,
    },

    autocomplete: {
      type: String,
      default: '',
    },

    icon: {
      type: String,
      required: true,
    },

    type: {
      type: String,
      required: false,
      default: 'text'
    },

    label: {
      type: String,
      required: false,
    },

    placeholder: {
      type: String,
      required: false,
      default: ''
    },

    isDisabled: {
      type: Boolean,
      default: false,
    },

    isAutofocused: {
      type: Boolean,
      default: false,
    },

    isLoading: {
      type: Boolean,
      default: false,
    },

    isInvalid: {
      type: Boolean,
      default: false,
    },

    isValidated: {
      type: Boolean,
      default: false,
    },

    invalidTexts: {
      type: Array,
      default: () => [],
    },

    hasRightButton: {
      type: Boolean,
      default: false,
    },

    rightButtonIcon: {
      type: String,
      default: '',
    },

    value: {
      type: String,
      required: true,
    },

    inputmode: {
      type: String,
      default: 'search',
    },

    helper: {
      type: String,
      required: false,
    },
  },

  computed: {
    helperText() {
      if (this.isInvalid) {
        return this.invalidTexts.join('<br>');
      }

      return this.helper;
    },
  },

  methods: {
    handleInput(event) {
      this.$emit('input:input', event);
      this.debouncedUpdate(event.target.value);
    },

    handleChange(event) {
      this.$emit('change:input', event);
    },

    handleFocus() {
      this.$emit('focus:input');
    },

    handleBlur() {
      this.$emit('blur:input');
    },
  },

  created() {
    this.debouncedUpdate = debounce((value) => {
      this.$emit('update:value', value);
    }, 500);
  }
};
</script>
