<template>
  <div
    :class="['-language-selector dropdown is-primary is-right', { 'is-active': isOpened }]"
    v-click-outside="close"
  >
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" @click="toggle">
        <span :class="`flag-icon flag-icon-${$i18n.locale}`"></span>&nbsp;<span>{{ $t(`global.locale-${$i18n.locale}`) }}</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <a
          class="dropdown-item"
          v-for="locale in $i18n.availableLocales" :key="`locale-${locale}`"
          @click="changeLocale(locale)"
        >
          <span :class="`flag-icon flag-icon-${locale}`"></span> {{ $t(`global.locale-${locale}`) }}
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LanguageSelector',

  data() {
    return {
      isOpened: false,
    }
  },

  methods: {
    changeLocale(locale) {
      this.$i18n.locale = locale;
      this.close();
    },

    close() {
      this.isOpened = false;
    },

    toggle() {
      this.isOpened = !this.isOpened;
    }
  },
}
</script>

<style lang="scss">
.-language-selector {
  margin: .375rem 0 .375rem auto;
}
</style>
