<template>
  <section class="-loader">
    <div class="-loader-spinner spinner-grow">
      <span class="sr-only">{{ $t('global.loading') }}</span>
    </div>
  </section>
</template>

<style lang="scss">
.-loader {
  display: flex;
  color: var(--primary-color);
  padding: 7rem 0;

  &-spinner {
    margin: auto;
    width: 3rem;
    height: 3rem;
  }
}
</style>
