<template>
  <div :class="['-range', { 'is-activated': isActivated }]">
    <span class="-range__min">{{ minValue / 10 }}</span>
    <span class="-range__slider">
      <input type="range" min="0" max="100" step="1" :value="minValue" @input="handleInputMin">
      <input type="range" min="0" max="100" step="1" :value="maxValue" @input="handleInputMax">
    </span>
    <span class="-range__max">{{ maxValue / 10 }}</span>
  </div>
</template>

<script>
export default {
  name: 'AppRange',

  emits: ['change:min', 'change:max'],

  props: {
    isActivated: {
      type: Boolean,
      default: false,
    },

    minValue: {
      type: Number,
      required: true,
    },

    maxValue: {
      type: Number,
      required: true,
    }
  },

  methods: {
    handleInputMin(event) {
      const value = parseInt(event.target.value);

      this.$emit('change:min', value);

      if (value > this.maxValue) {
        this.$emit('change:max', value);
      }
    },

    handleInputMax(event) {
      const value = parseInt(event.target.value);

      this.$emit('change:max', value);

      if (value < this.minValue) {
        this.$emit('change:min', value);
      }
    },
  }
};
</script>

<style lang="scss">
.-range {
  display: inline-flex;
  min-width: 300px;

  &__min,
  &__max {
    flex: 0 0 30px;
    text-align: center;
  }

  &__slider {
    flex: 0 0 calc(100% - 30px - 30px);
    position: relative;

    input {
      background-color: transparent;
      position: absolute;
      bottom: 6px;
    }

    input {
      -webkit-appearance: none;
      width: 100%;
    }

    input:focus {
      outline: none;
    }

    input::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      background-color: var(--slider-bg-color);
      border-radius: 8px;
      box-shadow: none;
      border: 0;
    }

    input::-webkit-slider-thumb {
      z-index: 2;
      position: relative;
      box-shadow: none;
      border: 4px solid var(--slider-bg-color);
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: var(--bg-color);
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -4px;
    }
  }

  &.is-activated {
    input::-webkit-slider-runnable-track {
      background: var(--primary-color);
    }

    input::-webkit-slider-thumb {
      border-color: var(--primary-color);
    }
  }
}
</style>
