<template>
  <div class="field">
    <label class="label" v-if="label">{{ label }}</label>

    <div class="control" :class="[
      { 'required': isRequired },
      { 'is-loading': isLoading },
      { 'has-icons-left': icon },
    ]">
      <div class="select">
        <select
          :name="name"
          :autofocus="isAutofocused"
          :disabled="isDisabled"
          :value="value"
          @change="handleChange"
          @focus="focusSelect"
          @blur="blurSelect"
        >
          <option v-for="(item, key) in items" :key="key" :value="item.value">{{ item.caption }}</option>
        </select>
      </div>

      <span class="icon is-small is-left" v-if="icon">
        <i :class="icon"></i>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppSelect',

  props: {
    value: {
      type: String,
      required: true,
    },

    label: {
      type: String,
      required: false,
    },

    items: {
      type: Array,
      required: true,
    },

    name: {
      type: String,
      required: true,
    },

    icon: {
      type: String,
      required: true,
    },

    isAutofocused: {
      type: Boolean,
      default: false,
    },

    isDisabled: {
      type: Boolean,
      default: false,
    },

    isRequired: {
      type: Boolean,
      default: false,
    },

    isLoading: {
      type: Boolean,
      default: false,
    },
  },

  emits: [
    'update:value',
    'focus:select',
    'blur:select',
  ],

  methods: {
    handleChange(event) {
      this.$emit('update:value', event.target.value);
    },

    focusSelect() {
      this.$emit('focus:select');
    },

    blurSelect() {
      this.$emit('blur:select');
    },
  },
}
</script>