<template>
  <nav id="sidebar-nav">
    <ul id="vertical-sidebar-nav" class="sf-menu">

      <li
        v-for="item in menuItems"
        :class="['normal-item-pro', { 'current-menu-item': $route.name === item.route || $route.params.type === item.route }]"
        :key="item.alias"
      >
        <router-link :to="{ name: item.route }">
          <span :class="item.icon"></span>
          {{ $t(`global.${item.alias}`) }}
        </router-link>
      </li>

    </ul>
    <div class="clearfix"></div>
  </nav>
</template>

<script>
import { MENU_ITEMS } from '@/config';

export default {
  data() {
    return {
      menuItems: MENU_ITEMS
    }
  }
};
</script>