<template>
  <div :class="['-tab', { 'is-active': tabId === activeTabId }]">
    <slot></slot>
  </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
  name: 'AppTab',
  
  props: {
    title: {
      type: String,
      required: true,
    },

    tabId: {
      type: Number,
      required: true,
    },
  },

  computed: {
    ...mapState('ui/tabs', {
      activeTabId(state) {
        return state.items[this.uuid].activeTabId;
      },
    }),

    uuid() {
      return this.$parent.uuid;
    }
  },
};
</script>

<style lang="scss">
.-tab {
  display: none;

  &.is-active {
    display: block;
  }
}
</style>