<template>
  <div class="-tabs">
    <ul class="-tabs__header">
      <li
        v-for='(tab, index) in tabs'
        :key='index'
        :class="['-tabs__header-item', { 'is-active': index == activeTabId }]"
      >
        <badge v-if="badges[index]" :value="badges[index]" />
        <a class="-tabs__header-item-title" @click.prevent="selectTab(index)" href="#">{{ tab.props.title }}</a>
      </li>
    </ul>
    <slot></slot>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

import Badge from '@/views/blocks/badge.vue';

export default {
  name: 'AppTabs',

  props: {
    uuid: {
      type: String,
      required: true,
    },

    selectedTabId: {
      type: Number,
      required: true,
    },

    badges: {
      type: Array,
      required: false,
      default: () => [],
    },
  },

  components: {
    Badge,
  },

  data () {
    return {
      tabs: [],
    }
  },

  computed: {
    ...mapState('ui/tabs', {
      activeTabId(state) {
        return state.items[this.uuid].activeTabId;
      },
    }),
  },

  methods: {
    ...mapMutations('ui/tabs', {
      registerTab: 'REGISTER_TAB',
      unregisterTab: 'UNREGISTER_TAB',
      setActiveTab: 'SET_ACTIVE_TAB',
    }),

    selectTab (id) {
      this.setActiveTab({
        uuid: this.uuid,
        id,
      });
    }
  },

  created () {
    this.registerTab({
      uuid: this.uuid,
      activeTabId: this.selectedTabId,
    });

    this.tabs = this.$slots.default();
  },

  beforeUnmount() {
    this.unregisterTab(this.uuid);
  },
}
</script>

<style lang="scss">
.-tabs {
  &__header {
    display: flex;
    list-style: none;
    margin-bottom: 30px;
    padding: 0;

    &-item {
      position: relative;

      &-title {
        margin: 0 10px 5px 10px;
        display: inline-block;
        position: relative;
        color: var(--header-color);
        font-size: 15px;
        padding-bottom: 6px;
        font-family: 'Montserrat', sans-serif;

        &:hover {
          color: var(--header-color);
        }

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: var(--btn-bg-primary-color);
        }
      }

      &:first-child {
        .-tabs__header-item-title {
          margin: 0 10px 5px 0;
        }
      }

      &.is-active {
        .-tabs__header-item-title {
          color: var(--header-active-color);

          &::after {
            content: '';
          }
        }
      }
    }
  }
}
</style>