<template>
  <video ref="videoPlayer" class="video-js"></video>
</template>

<script>
import videojs from 'video.js';

export default {
  name: 'VideoPlayer',

  props: {
    url: {
      type: String,
      required: true,
    },
    poster: {
      type: String,
      required: true,
    },
    // content: {
    //   type: Object,
    //   required: true,
    // },
    isAutoplay: {
      type: Boolean,
      required: false,
      default: true,
    }
  },

  data() {
    return {
      player: null,
    };
  },

  computed: {
    videoOptions() {
      return {
        aspectRatio: '16:9',
        playbackRates: [1, 1.5, 2],
        fill: true,
        fluid: true,
        responsive: true,
        language: 'ru-ru',
        autoplay: this.isAutoplay,
        controls: true,
        height: 150,
        sources: [
          {
            src: this.url,
            type: "video/mp4",
          }
        ],
      };
    },
  },

  methods: {
    initPlayer() {
      this.player = videojs(this.$refs.videoPlayer, this.videoOptions, this.changePoster);
    },

    changePoster() {
      this.player.poster(this.poster);
    }
  },

  mounted() {
    this.initPlayer();
  },

  watch: {
    url(value) {
      this.changePoster();
      this.player.src(value);
      this.player.play();
    }
  },

  beforeUnmount() {
    if (this.player) {
      this.player.dispose();
    }
  },
}
</script>

<style lang="scss">
@import "bulma/sass/utilities/_all";

.video-js { 
  flex: 0 0 65%;

  @include until(1215px) {
    flex: 0 0 60%;
  }

  @include until(1025px) {
    flex: 0 0 55%;
  }

  @include until(768px) {
    flex: 0 0 100%;
  }
}
</style>
