<template>
  <div id="sidebar-bg" :class="`-page -page-${$route.name} -layout_type_${layoutType}`">
    <component :is="layout">
      <router-view :key="$route.name" />
    </component>
  </div>
</template>

<script>
import { throttle } from 'lodash';
import DefaultLayout from './views/layouts/default';
import LightLayout from './views/layouts/light';

export default {
  name: 'App',

  data() {
    return {
      screenWidth: 0,
      device: null,
    };
  },

  computed: {
    layoutType() {
      return this.$route.meta && this.$route.meta.layout;
    },

    layout() {
      return this.layoutType === 'light' ? LightLayout : DefaultLayout;
    }
  },

  created() {
    this.setScreenWidth();

    window.addEventListener('resize', this.resize);

    this.throttledResizer = throttle(() => {
      this.setScreenWidth();
    }, 300);
  },

  methods: {
    resize() {
      this.throttledResizer();
    },

    setScreenWidth() {
      this.screenWidth = window.innerWidth;

      if (this.screenWidth <= 425) {
        this.device = 'mobile';
      } else if (this.screenWidth >= 426 && this.screenWidth <= 768) {
        this.device = 'tablet';
      } else if (this.screenWidth >= 769 && this.screenWidth <= 1024) {
        this.device = 'desktop';
      } else if (this.screenWidth >= 1025 && this.screenWidth <= 1440) {
        this.device = 'widescreen';
      } else if (this.screenWidth >= 1441) {
        this.device = 'fullhd';
      }
    },
  },
}
</script>

<style lang="scss">
@import "./assets/css/colors.scss";
// @import "bulma";
// @import "~bulma-switch";
// @import "~bulma-checkradio";
// @import "./assets/vendors/flag-icon-css/css/flag-icon.css";
// @import "./assets/vendors/fontawesome/css/all.min.css";

@import "./assets/icons/fontawesome/css/all.min.css";
@import "./assets/icons/iconsmind/styles.min.css";
@import "./assets/vendors/video-js.css";
@import "./assets/css/bootstrap.css";
@import "./assets/css/style.css";

.slidedown-enter-active,
.slidedown-leave-active {
  transition: max-height .3s ease;
}

.slidedown-enter-to,
.slidedown-leave-from {
  overflow: hidden;
  max-height: 1000px;
}

.slidedown-enter-from,
.slidedown-leave-to {
  overflow: hidden;
  max-height: 0;
}
</style>
