<template>
  <app-header :mode="mode" />

  <app-sidebar />

  <!-- <app-breadcrumb v-if="$route.name !== 'home'" /> -->

  <slot />

  <transition name="fade">
    <extended-search-dialog v-if="isExtendedSearchActive" />
  </transition>

  <app-footer :mode="mode" />

  <status-bar />
</template>

<script>
import { mapState } from 'vuex';
import { EXTENDED_SEARCH_POPUP_ID } from '@/config';

import AppHeader from '@/views/blocks/header/index.vue';
import AppSidebar from '@/views/blocks/sidebar.vue';
import AppFooter from '@/views/blocks/footer.vue';
import StatusBar from '@/views/blocks/status-bar.vue';
// import AppBreadcrumb from '@/views/blocks/breadcrumb.vue';
import ExtendedSearchDialog from '@/views/blocks/extended-search-dialog/extended-search-dialog.vue';

export default {
  name: 'DefaultLayout',

  components: {
    AppHeader,
    AppSidebar,
    AppFooter,
    StatusBar,
    // AppBreadcrumb,
    ExtendedSearchDialog,
  },

  data() {
    return {
      mode: 'default',
      isModalOpened: false,
      extendedSearchPopupId: Object.freeze(EXTENDED_SEARCH_POPUP_ID),
    };
  },

  computed: {
    ...mapState('ui/popups', {
      isExtendedSearchActive(state) {
        return state.items[this.extendedSearchPopupId].isActive;
      },
    }),
  },
}
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>