<template>
  <app-header :mode="mode" />

  <slot />

  <app-footer :mode="mode" />

  <status-bar />
</template>

<script>
import AppHeader from '@/views/blocks/header/index.vue';
import AppFooter from '@/views/blocks/footer.vue';
import StatusBar from '@/views/blocks/status-bar.vue';

export default {
  name: 'LightLayout',

  components: {
    AppHeader,
    AppFooter,
    StatusBar,
  },

  data() {
    return {
      mode: 'light'
    }
  }
}
</script>